<ion-header>
  <ion-toolbar>
    <ion-title>Gestion compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let jison of infocom">
        <ion-input type="hidden" class="value_sortez" value="{{jison.json.IdCommercant}}" [(ngModel)]="jison.json.IdCommercant"></ion-input>
        <ion-item>
            <ion-label class="titre_info2">Nom :</ion-label>
            <ion-input class="value_sortez" type="text" [(ngModel)]="jison.json.Nom_coms" value="{{jison.json.Nom_coms}}"></ion-input>
        </ion-item>
      
        <ion-item>
            <ion-label class="titre_info2">Prénom :</ion-label>
            <ion-input class="value_sortez" type="text" [(ngModel)]="jison.json.Prenom" value="{{jison.json.Prenom}}"></ion-input>
        </ion-item>
        <!-- <ion-row>
          <ion-label class="titre_info2">Prénom :</ion-label>
          <ion-input type="tel" class="value_sortez" value="{{jison.json.Prenom}}" [(ngModel)]="Prenom"></ion-input>
        </ion-row> -->
      
        <ion-item>
            <ion-label class="titre_info2">Code postal :</ion-label>
            <ion-input class="value_sortez" type="number" [(ngModel)]="jison.json.CodePostal" value="{{jison.json.CodePostal}}" name="CodePostal"></ion-input>
        </ion-item>
        <!-- <ion-row>
            <ion-label class="titre_info2">Code postal :</ion-label>
          <ion-input type="number" class="value_sortez" value="{{jison.json.CodePostal}}" [(ngModel)]="CodePostal"></ion-input>
        </ion-row> -->
        
        <ion-item *ngIf="jison.json.Civilite ==0 || jison.json.Civilite ==null ">
          <ion-label id="civ" color="primary">Civilité :</ion-label>
          <ion-select class="menu_deroulant" [(ngModel)]="jison.json.Civilite" name="Civilite">
            <ion-select-option class="value_sortez" value="0" selected>Monsieur</ion-select-option>
            <ion-select-option class="value_sortez" value="1">Madame</ion-select-option>
            <ion-select-option class="value_sortez" value="2">Mademoiselle</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="jison.json.Civilite ==1">
          <ion-label id="civ" color="primary">Civilité :</ion-label>
          <ion-select class="menu_deroulant" [(ngModel)]="jison.json.Civilite" name="Civilite">
            <ion-select-option class="value_sortez" value="0">Monsieur</ion-select-option>
            <ion-select-option class="value_sortez" value="1" selected>Madame</ion-select-option>
            <ion-select-option class="value_sortez" value="2">Mademoiselle</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="jison.json.Civilite ==2">
          <ion-label id="civ" color="primary">Civilité :</ion-label>
          <ion-select class="menu_deroulant" [(ngModel)]="jison.json.Civilite" name="Civilite">
            <ion-select-option  class="value_sortez" value="0">Monsieur</ion-select-option>
            <ion-select-option  class="value_sortez" value="1">Madame</ion-select-option>
            <ion-select-option class="value_sortez" value="2" selected>Mademoiselle</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
            <ion-label class="titre_info2">Tél fixe :</ion-label>
            <ion-input class="value_sortez" type="text" [(ngModel)]="jison.json.TelFixe" value="{{jison.json.TelFixe}}" name="TelFixe"></ion-input>
        </ion-item>
        <!-- <ion-row>
          <ion-label class="titre_info2">Tél fixe :</ion-label>
          <ion-input  type="text" class="value_sortez" value="{{jison.json.TelFixe}}" [(ngModel)]="TelFixe"></ion-input>
        </ion-row> -->
  
        <ion-item>
            <ion-label class="titre_info2">Tél Mobile :</ion-label>
            <ion-input class="value_sortez" type="number" [(ngModel)]="jison.json.TelMobile" value="{{jison.json.TelMobile}}" name="TelMobile"></ion-input>
        </ion-item>
        <!-- <ion-row>
          <ion-label class="titre_info2">Tél Mobile :</ion-label>
          <ion-input  type="number" class="value_sortez" value="{{jison.json.TelMobile}}" [(ngModel)]="TelMobile"></ion-input>
        </ion-row> -->
      
        <ion-item>
            <ion-label class="titre_info2">Email :</ion-label>
            <ion-input class="value_sortez" type="email" [(ngModel)]="jison.json.Email" value="{{jison.json.Email}}" name="Email"></ion-input>
        </ion-item>
        <!-- <ion-row>
          <ion-label class="titre_info2">Email :</ion-label>
          <ion-input type="email" class="value_sortez" value="{{jison.json.Email}}" [(ngModel)]="Email"></ion-input>
        </ion-row> -->
        <div class="buttons" (click)="ModifAccount(jison.json.IdCommercant,jison.json.Nom,jison.json.Prenom,jison.json.CodePostal,jison.json.Civilite,jison.json.TelFixe,jison.json.TelMobile,jison.json.Email)">Enregistrer</div>
      </ion-list>

</ion-content>
