<ion-header>
  <ion-toolbar>
    <ion-title>PLATS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container_table">
      <ion-row>
          <div class="titre_sortez">RÉSERVATION DES PLAT DU JOURS</div>
      </ion-row>
      
          <ion-row>
            <ion-col col-12 ><div class="buttonvert_sortez" (click)='filtre_date_demande()'>CLASSEMENT PAR DATE DEMANDE</div></ion-col>
            <!-- <ion-col col-6><div class="buttonvert_sortez">IMPRIMER</div></ion-col> -->
            <!-- <ion-col col-6><div (click)="importCSV()" class="buttonvert_sortez">EXPORT CSV</div></ion-col> -->
          </ion-row>
      
          <ion-row class="soustitre">
            <ion-col col-2><img src="assets/wp0b0a28ef_06.png" class="img"></ion-col>
            <ion-col col-8 class="titresoustitre">PLAT DU JOUR</ion-col>
            <ion-col col-2><img src="assets/wp0b0a28ef_07.jpg" class="img"></ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col col-3></ion-col>
            <ion-col col-3 class="dtsold"><div><span></span></div>{{solde}}</ion-col>
            <ion-col col-3 class="dtnbr"><div><span></span></div>{{nbrepers}}</ion-col>
            <ion-col col-3 class="dtnbr"><div><span></span></div>{{nbreplat}}</ion-col>          
            <ion-col col-3>Nom</ion-col>
            <ion-col col-3>Solde</ion-col>
            <ion-col col-3>Nbre personnes</ion-col>
            <ion-col col-3>Nbre plats</ion-col>
          </ion-row>
  </div>
  <div *ngFor="let jison of msg">
    <div class="container_table">
      <ion-row>
        <ion-col size="2"><img (click)="client_details(jison.logincom,jison.IdUser)" src="assets/bon_ico1.png"></ion-col>
        <ion-col size="2" ><a href="mailto:{{jison.Email}}"><img src="assets/wp0ffc8202_06.png"></a></ion-col>
        <ion-col size="2" > <a href="tel:{{jison.Portable}}"><img src="assets/wp9151b655_06.png"></a> </ion-col>  
        <ion-col size="2"><img (click)="sendmsg(jison.Portable,Nomcom,villecom,telcom)" src="assets/wpc90a70ba_06.png"></ion-col>
        <ion-col size="2"><img (click)="infoconsoPage(jison.IdUser,jison.logincom)" src="assets/wp2f594ad0_06.png"></ion-col>
      </ion-row>
      <ion-row class="margetop">
        <ion-col col-6 class="form2 left">{{jison.Nom}} {{jison.prenom}} : {{jison.heure_debut_reservation}} </ion-col>
        <ion-col col-3 class="dtnbr1"><div>{{jison.nbre_pers_reserved}}</div></ion-col>
        <ion-col col-3 class="dtnbr1"><div>{{jison.nbre_platDuJour}}</div></ion-col>       
      </ion-row>
    </div>
  </div>
      
</ion-content>
