<ion-header>

  <ion-toolbar>
    <ion-title>HEBERGEMEMT</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
    <div class="container_table">
            <ion-row>
              <ion-col col-10 class="titre_sortez">DEMANDE DE RÉSERVATION HÉBERGEMENT</ion-col>
            </ion-row>
            <ion-row>      
              <ion-col col-12 ><div class="buttonvert_sortez" (click)='filtre_date_demande()'>CLASSEMENT PAR DATE DEMANDE</div></ion-col>
              <ion-col col-12 ><div class="buttonvert_sortez" (click)='filtre_date_debut()'>CLASSEMENT PAR DATE DÉBUT</div></ion-col>
              <!-- <ion-col col-6><div class="buttonvert_sortez">EXPORT CSV</div></ion-col> -->
            </ion-row><br>
    </div>
    <div class="container_table" *ngFor="let jisonS of msg.sejour">
      <ion-row>
        <ion-col col-12 class="titre_info2 left">{{jisonS.Nom}}</ion-col>
      </ion-row>
      <ion-row>        
        <ion-col class="titre_info2 left" size="2">{{jisonS.nomVille}}</ion-col>
    </ion-row>
      <ion-row>
          <ion-col><a href="mailto:{{jisonS.mail}}"><img src="assets/wpb5d957f8_06.png"></a></ion-col>
          <ion-col><a href="tel:{{jisonS.tel}}"><img src="assets/wp9151b655_06.png"></a></ion-col>
          <ion-col><img (click)="sendmsg(jisonS.tel,Nomcom,villecom,telcom)" src="assets/wpc90a70ba_06.png"></ion-col>
          <ion-col><img (click)="delete_sejour(jisonS.idRes)" src="assets/wp3befff58_06.png"></ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6 class="info_sortez left">Date demande : </ion-col>
          <ion-col col-4 class="value_sortez left"><span *ngIf="jisonS.date_de_reservation == '0000-00-00'">Non Précisé</span><span *ngIf="jisonS.date_de_reservation != '0000-00-00'">{{jisonS.date_de_reservation}}</span></ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6 class="info_sortez left">Date début :</ion-col>
        <ion-col col-4 class="value_sortez left"><span *ngIf="jisonS.date_debut_res == '0000-00-00'">Non Précisé</span><span *ngIf="jisonS.date_debut_res != '0000-00-00'">{{jisonS.date_debut_res}}</span></ion-col>
      </ion-row> 
      <ion-row>
        <ion-col col-6 class="info_sortez left"> Date fin :</ion-col>
        <ion-col col-4 class="value_sortez left"><span *ngIf="jisonS.date_fin_res == '0000-00-00'">Non Précisé</span><span *ngIf="jisonS.date_fin_res != '0000-00-00'">{{jisonS.date_fin_res}}</span></ion-col>
      </ion-row>  
      <ion-row>
        <ion-col col-6 class="info_sortez left">Nbre d'adultes : </ion-col>
        <ion-col col-4 class="value_sortez left">{{jisonS.nbre_adulte}}</ion-col>
      </ion-row> 
      <ion-row>
        <ion-col col-6 class="info_sortez left">Nbre d'enfant : </ion-col>
        <ion-col col-4 class="value_sortez left">{{jisonS.nbre_enfant}} </ion-col>
      </ion-row>  
      <ion-row>
        <ion-col col-6 class="info_sortez left">Ville : </ion-col>
        <ion-col col-4 class="value_sortez left">{{jisonS.Pays}}</ion-col>
      </ion-row>  
      <ion-row>
          <ion-col col-12 class="info_sortez left">Commentaire :</ion-col>       
          <ion-col col-12 class="value_sortez textjustify">{{jisonS.message_client}} :</ion-col>   
      </ion-row><br>
        
    </div>
</ion-content>
