<ion-header>

  <ion-toolbar>
    <ion-title>Fidelisation</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div *ngFor="let jison of msg">
  <h4>{{jison.json.titre}}</h4>

      <div *ngIf="jison.json.oTampon !=null && jison.json.oTampon.is_activ == 1 ">
        <h3>Offre de coup de tampon</h3>
        <ion-label>{{jison.json.oTampon.description}}</ion-label><br>
        <ion-label>Préciser le nombre d'unité:</ion-label>
        <ion-input #myInput  class="input_client" type="number" [(ngModel)]="unite_tampon_value"></ion-input>
         <ion-row>
            <ion-col size='4' *ngIf="jison.json.tampon_client_value != null || jison.json.tampon_commercant_value != null">
              <div class="progressbarleft text_navbar" [style.width]="widthleft(jison.json.tampon_client_value,jison.json.tampon_commercant_value)">{{jison.json.tampon_client_value}}</div>
              <div [style.width]="widthright(jison.json.tampon_client_value,jison.json.tampon_commercant_value)" class="progressbarright text_navbar">{{jison.json.tampon_commercant_value}}</div>
            </ion-col>
            <ion-col size='4' *ngIf="jison.json.tampon_client_value === null || jison.json.tampon_commercant_value === null">
              <div class="progressbarleft text_navbar" [style.width]="widthleft(0,0)">0</div>
              <div  [style.width]="widthright(0,0)" class="progressbarright text_navbar">0</div>
            </ion-col>
          </ion-row><br>
        <ion-input type="hidden" [(ngModel)]="jison.json.oCard.id" value="{{jison.json.oCard.id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="jison.json.id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="jison.json.oUser.IdUser" value="{{jison.json.oUser.IdUser}}"></ion-input>
        <div class="buttonvert_sortez" ion-button full (click)="add_card_tampon_mobile(unite_tampon_value,jison.json.oCard.id,jison.json.id_commercant,jison.json.oUser.IdUser)">Valider cette transaction</div>
      </div>
     
        <div *ngIf="jison.json.objRemise !=null && jison.json.objRemise.is_activ == 1 ">
            <h3>Offre de remise direct</h3>
          <ion-label>{{jison.json.objRemise.description}}</ion-label><br>
          <ion-label>Préciser le nombre d'unité:</ion-label>
          <ion-input #myInput  class="input_client" type="number" [(ngModel)]="unite_remise_value"></ion-input>
          <ion-row>
              <ion-col size='4' *ngIf="jison.json.assoc_client_remise != null">
                <div class="progressbarleft text_navbar" style="width: 100%;">{{jison.json.assoc_client_remise.solde_remise}}</div>
              </ion-col>
              <ion-col size='4'*ngIf="jison.json.assoc_client_remise === null">
                <div class="progressbarleft text_navbar" [style.width]="widthleft(solde_remise,0)">0</div>
              </ion-col>
            </ion-row><br>
          <ion-input type="hidden" [(ngModel)]="jison.json.oCard.id" value="{{jison.json.oCard.id}}"></ion-input>
          <ion-input type="hidden" [(ngModel)]="jison.json.id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
          <ion-input type="hidden" [(ngModel)]="jison.json.oUser.IdUser" value="{{jison.json.oUser.IdUser}}"></ion-input>
          <div class="buttonvert_sortez" ion-button full (click)="add_card_remise_mobile(unite_remise_value,jison.json.oCard.id,jison.json.id_commercant,jison.json.oUser.IdUser)">Valider cette transaction</div>
        </div>
          <div *ngIf="jison.json.oCapital !=null && jison.json.oCapital.is_activ == 1 ">
            <h3>Offre de capitalisation</h3>
            <ion-label>{{jison.json.oCapital.description}}</ion-label><br>
            <ion-label>Préciser le nombre d'unité:</ion-label>
            <ion-input #myInput  class="input_client" type="number" [(ngModel)]="unite_capital_value"></ion-input>
            <span>
              <ion-row>
                  <ion-col size='4' *ngIf="jison.json.oFicheclient !=null">
                    <div class="progressbarleft text_navbar" [style.width]="widthleft(jison.json.oFicheclient.solde_capital,jison.json.oCapital.montant)">{{jison.json.oFicheclient.solde_capital}}</div><div *ngIf="jison.json.oCapital.montant !=null" [style.width]="widthright(jison.json.oFicheclient.solde_capital,jison.json.oCapital.montant)" class="progressbarright text_navbar">{{jison.json.oCapital.montant}}</div>
                  </ion-col>
                  <ion-col size='4' *ngIf="jison.json.oFicheclient === null">
                    <div class="progressbarleft text_navbar" [style.width]="widthleft(solde_capital,jison.json.oCapital.montant)">0</div><div *ngIf="jison.json.oCapital.montant !=null" [style.width]="widthright(solde_capital,jison.json.oCapital.montant)" class="progressbarright text_navbar">{{jison.json.oCapital.montant}}</div>
                  </ion-col>
              </ion-row><br>
           </span>
            <ion-input type="hidden" [(ngModel)]="jison.json.oCard.id" value="{{jison.json.oCard.id}}"></ion-input>
            <ion-input type="hidden" [(ngModel)]="jison.json.id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
            <ion-input type="hidden" [(ngModel)]="jison.json.oUser.IdUser" value="{{jison.json.oUser.IdUser}}"></ion-input>
            <div class="buttonvert_sortez" ion-button full (click)="add_card_capital_mobile(unite_capital_value,jison.json.oCard.id,jison.json.id_commercant,jison.json.oUser.IdUser)"><ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon> &nbsp;Valider cette transaction</div>
          </div>
  </div>
  <div class="container_bon">
    <ion-row class="titre_bon2">
          LISTE DES R&Eacute;SERVATIONS DES BONS PLANS EN COURS
      </ion-row>
</div>
<div class="container_bon" *ngFor="let jisons of msg">
      <ion-row>
        <ion-col col-12 class="left black">{{jisons.json.oUser.Prenom}} {{jisons.json.oUser.Nom}}</ion-col>
        <ion-col col-12 class="left black">{{jisons.json.oUser.NomVille}}</ion-col>
      </ion-row>
</div>
<div class="container_bon" *ngFor="let jisonp of msg2">
      <ion-row>
        <ion-col col-12 class="black">Date de réservation : {{jisonp.date_validation}}</ion-col>
        <ion-col col-12 class="black">Date de visite : {{jisonp.date_visit}}</ion-col>
        <ion-col col-12 class="black">Nbre de personnes attachées : {{jisonp.bonplan_type}}</ion-col>
        <ion-col col-12 class="black">Offre à utiliser avant le : {{jisonp.bp_multiple_date_fin}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" ><div class="buttonvert_sortez" (click)="validatebonplan(jisonp.bonplan_commercant_id,jisonp.IdUser,jisonp.id)">Valider</div></ion-col>
      </ion-row>
</div>
</ion-content>
