<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="bg">
  <h2><span class="pink">MENTIONS LÉGALES - CONDITIONS GÉNÉRALES D’UTILISATION</span><br></h2>



  <h3 class="pink">Mentions légales</h3>
  
  Le site « www.sortez.org » et l’application mobile « sortez » sont édités par : Priviconcept SAS au capital de 1 000 euros dont le siège social est au 18 rue des Combattants d’Afrique du Nord à Nice (R.C.S Nice 820 043 693 - Siret 820 043 693 00010 - Code NAF 6201Z) - Directeur de la publication : Jean Claude Pasdeloup - Email : contact@sortez.org
  
  Le site « www.sortez.org » est hébergé par la société 1&1.
  
  L’application Sortez offre, à chaque utilisateur, gratuitement, l'accès à toutes les fonctionnalités de l’application sauf à l’espace professionnel réservé aux commerçants ayant souscrit un abonnement annuel avec Priviconcept.
  
  Les présentes Conditions Générales d'Utilisation appelés CGU ont pour objet de déterminer les règles d'utilisation de l'Application ainsi que celles de leurs services par l'Utilisateur, ainsi que les obligations à la charge de l'Editeur. L'Utilisateur a également accès via la rubrique « Mentions Légales » aux mentions légales sur l'Editeur.
  
  L'Utilisateur s'engage, à chacune de ses visites sur l'Application, à respecter les présentes CGU applicables à l'ensemble des produits et services disponibles sur l'Application.
  
  En conséquence, l'Utilisateur accepte, sans réserve, les présentes CGU dans leur intégralité avant toute utilisation de l'Application. La simple utilisation de l'Application emporte automatiquement acceptation de l'Utilisateur aux présentes CGU.
  
  L'Editeur se réserve la faculté de modifier les présentes CGU de l'Application à tout moment et sans notification préalable. En conséquence, il est conseillé à l'Utilisateur de se référer, régulièrement, à la dernière version des CGU disponible dans l'Application.
  
  
  
  <h4><span class="pink">Conditions Générales d'Utilisation des services « Sortez.org »</span></h4>
  
  
  
  www.sortez.org est une web-application ainsi qu'un site Internet<br>
  
  Le service fourni sur les Sites consiste à fournir au consommateur (ci-après « l’Utilisateur ») des offres promotionnelles, messages, informations et actualités émises par les enseignes partenaires :
  
  • en recensant les différentes Offres promotionnelles, les messages, informations, actualités (ci-après « Les Offres ») proposées par les Enseignes présentes sur la zone géographique choisie par l’Utilisateur ainsi que les publicités accompagnant ces offres ;<br>
  
  « Sortez.org » n’ayant la qualité que de simple intermédiaire (outil de communication) des professionnels (commerçants, artisans, PME, PMI etc…) (ci-après « professionnels partenaires »), elle ne les représente pas et n’assure pas l’exécution ni les prestations des Offres.<br>
  
  
  
  <h4><span class="pink">L’inscription des consommateurs</span></h4><br>
  
  Le consommateur doit s'identifier et s'inscrire sur www.sortez.org (ordinateur, tablette, mobile).<br>
  
  Le consommateur doit confirmer qu'il est majeur.<br>
  
  Le consommateur doit accepter sans réserve les conditions générales.<br>
  
  Le consommateur doit valider sa demande d'inscription.<br>
  
  Après validation de sa demande il reçoit par retour de mail une confirmation d'enregistrement avec la présence de son identifiant et mot de passe.<br>
  
  Le consommateur gère lui-même sa fiche, il peut la modifier à volonté.<br>
  
  Le consommateur s'engage sur l'honneur à n'ouvrir qu'un seul compte adhérent et de ne s'enregistrer qu'une seule fois en qualité de consommateur.<br>
  
  Le consommateur qui désire se désinscrire devra nous adresser par mail sa demande de retrait.<br>
  
  Le consommateur lors de son inscription dispose sur son compte (ordinateur, tablette et mobile) d’une carte dématérialisée.<br>
  
  
  
  <h4><span class="pink">Dispositions générales</span></h4><br>
  
  Les Conditions Générales d’Utilisation ci-après décrivent les conditions selon lesquelles la société Priviconcept propose l’accès aux services « Sortez.org » par les consommateurs, à l’exclusion de tout type de service proposé par « Sortez.org » aux professionnels portant sur la publication des Offres sur ses sites.
  
  Les Offres sont réservées aux personnes ayant la qualité de consommateur, de particulier et destinées à une utilisation person-nelle, sans rapport avec une utilisation professionnelle.<br>
  
  Toute consultation d’une Offre proposée sur les Sites implique l'adhésion de l’Utilisateur aux présentes conditions générales, et ce, nonobstant toutes clauses et stipulations contraires.<br>
  
  L’accès aux Services est gratuit, sans préjudice du caractère payant ou non de l’utilisation des Offres proposées par les Enseignes sur les Sites et du coût des équipements (ordinateurs, logiciels, moyens de communication) ou des frais de télécommunication permettant cet accès, et ouvert à tous.
  
  « Sortez.org » ne garantit pas que le Service fonctionnera sans interruption et sans dysfonctionnement. Son exploitation pourra être interrompue pour cause de maintenance, de mise à jour ou d'amélioration technique, ou pour en faire évoluer le contenu et/ou la présentation. Dans la mesure du possible, « Sortez.org » informera préalablement les Utilisateurs des mises à jour et des maintenances.
  
  Priviconcept se réserve le droit de modifier ou de faire évoluer à tout moment le contenu de « Sortez.org », les Services ou les Conditions d'Utilisation qui lui sont applicables.
  
  Ces modifications entreront en vigueur dès leur mise en ligne sur les Sites.<br>
  
  Les utilisateurs pour bénéficier des avantages et offres concédées par les partenaires doivent ouvrir un compte gratuitement.
  
  
  
  <h4><span class="pink">Les bons plans uniques</span></h4>
  
  Si un consommateur ayant déjà profité d’une offre unique s'inscrit sous un autre nom et/ou  avec un autre e-mail pour pouvoir bénéficier une seconde fois de l'offre découverte chez le même professionnel, ce consommateur verra son compte supprimé de la carte privilège « Sortez.org ».
  
  Si le diffuseur reconnaît ce consommateur, il est en droit de refuser à concéder son offre découverte et à avertir « Sortez! » de la mauvaise foi de ce consommateur
  
  Pour accéder aux Services « Sortez.org », l’Utilisateur doit disposer des compétences, des matériels et des logiciels requis pour l'utilisation d'Internet.
  
  
  
  <h4><span class="pink">Dispositions particulières aux partenaire - Obligations du professionnel</span></h4><br>
  
  
  
  • Le commerçant partenaire s’engage à actualiser régulièrement ses messages informatifs ou offres promotionnelles (bons plans, conditions de fidélisation, agenda, boutiques en ligne…)<br>
  
  • Le commerçant partenaire est libre de choisir le montant ou pourcentage de ses offres, pour faire venir le consommateur dans son magasin le commerçant doit donner un intérêt à l’utilisateur.<br>
  
  • Les offres du commerçant partenaire sont toujours accompagnées de photos et d’un descriptif, il s’engage donc à présenter des photos bien cadrées, non floutées et des textes uniquement représentatifs des offres.<br>
  
  • Il s’engage donc à publier des offres, des photos et des textes seulement en lien avec son activité de commerçant, qui par leur nature, leur forme et leur présentation respectent l’esprit de « Sortez.org », ne pouvant provoquer de la part des utilisateurs ou de tiers, des protestations, et non contraire aux lois et règles en vigueur.<br>
  
  La ou les offres paraissent sous la seule responsabilité du commerçant partenaire. Priviconcept se réserve le droit de refuser purement et simplement une offre, même en cours d'exécution, sans indiquer la raison et plus particulièrement quand par sa nature, son texte ou sa présentation, elle paraîtrait contraire à l'esprit de notre site ou susceptible de provoquer des protestations de ses utilisateurs ou de tiers. Un tel refus ne fait naître aucun droit à indemnité au profit du partenaire ou de son mandataire.
  
  Priviconcept se réserve également le droit d'interrompre une campagne à tout moment au cas où elle aurait connaissance d'informations sur le caractère incertain de la solvabilité du partenaire ou de son mandataire et au cas où elle aurait connaissance du caractère contraire de la campagne, aux lois et règles en vigueur.
  
  
  
  <h4><span class="pink"> particulières aux Offres - Consultations des Offres</span></h4><br>
  
  
  
  L’Utilisateur qui souhaite bénéficier d’une Offre des Enseignes présentes sur la zone géographique choisie par l’Utilisateur doit d’abord se connecter à l’application directement ou à partir de la notification push qu’il a reçu.
  
  Il choisit l’Offre de son choix en cliquant sur le lien correspondant.
  
  Après avoir consulté le descriptif de l’Offre sélectionnée, l’utilisateur se rend chez l’Enseigne pour réaliser ses achats ou participer à un évènement organisé par l’enseigne.
  
  L’utilisateur règle son paiement auprès du responsable de l’Enseigne puis récupère son/ses produits ou services.
  
  
  
  <h4><span class="pink">Prix des offres</span></h4>
  
  Le prix des Offres est celui mis en ligne par les Enseignes. Il s’agit de la somme que l’Utilisateur réglera à la caisse, une fois dans l’Enseigne. Il est indiqué en euros toutes taxes comprises.
  
  
  
  <h4><span class="pink">Disponibilité des Produits et Services objet des Offres</span></h4>
  
  
  
   A la fin du temps imparti par l’enseigne pour la diffusion de son offre, celle-ci disparait automatiquement et n’est par conséquent, plus disponible.
  
  
  
   <h4><span class="pink"> Responsabilité et force majeure</span></h4>
  
  L’obligation de « Sortez.org » est limitée à la mise à disposition des Offres. Toutefois, la responsabilité de « Sortez.org » ne saurait être engagée dans les cas suivants :
  
  • pour tout dysfonctionnement, impossibilité d'accès ou de mauvaises conditions de fonctionnement des sites de « Sortez.org » imputable à un équipement non adapté, à des perturbations liées au fournisseur d'accès de l'Utilisateur, à l'encombrement du réseau Internet et/ou pour toute autre raison non imputable à « Sortez.org » ;
  
  • pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture du service, une intrusion extérieure ou la présence d’un virus informatique non imputables à « Sortez.org ».
  
  « Sortez.org » n'exerce aucun contrôle sur le contenu de l'information diffusée par le Commerçant.
  
  Les renseignements mentionnés sur le site dans les offres sont ceux incorporés par le Commerçant, de telle sorte qu’il est seul responsable de l’exécution de la prestation ou de la délivrance du produit conformément aux caractéristiques figurant sur l’application.
  
  Ainsi, la responsabilité de « Sortez.org » ne peut être engagée en cas d'inexécution ou de mauvaise exécution des obligations attachées à l’utilisation des offres imputable soit à l’Utilisateur, soit au Commerçant, soit au fait insurmontable et imprévisible de tout autre tiers au contrat, soit à un cas de force majeure.
  
  De même, toute garantie légale ou conventionnelle liée à l’exécution des obligations attachées à l’offre sont dues par le Commerçant.
  
  En cas d’inexécution ou de mauvaise exécution des obligations attachées à l’offre, l’Utilisateur ne pourra se retourner qu’à l’encontre du Commerçant, qui est le seul vendeur du service ou produit.
  
  
  
  <h4><span class="pink">Gestion des données personnelles</span></h4>
  
  Lors de l’utilisation des Services, Priviconcept, recueille les informations suivantes :
  
  • Les données recueillies automatiquement, au moyen de cookies, qui sont nécessaires à la communication par voie électronique et au fonctionnement du Service. En dehors de ces finalités, Priviconcept s’engage à recueillir le consentement de l’Utilisateur pour déposer un cookie après l’avoir informé de sa finalité. L’Utilisateur peut s’opposer à l’enregistrement de cookies à partir de son navigateur, toutefois ce refus est susceptible d’empêcher l’accès aux services du Site.
  
  « Sortez.org » a désigné un correspondant informatique et liberté pour les traitements relatifs à la gestion de ses relations avec les Commerçants et les Utilisateurs. Le responsable des traitements est la société Priviconcept dont les coordonnées figurent ci-dessous.
  
  Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 telle que modifiée par la loi n° 2004-801 du 6 août 2004 dite « Informatique et Libertés », l’Utilisateur dispose à tout moment d’un droit d’accès, de modification, de rectification et de suppression des données personnelles qui le concernent. Le commerçant ou l’utilisateur peut exercer ce droit en envoyant un courrier postal à Priviconcept, 18 rue des Combattants d’Afrique du Nord ou par mail à l’adresse contact@sortez.org, accompagné d’un justificatif d’identité.
  
  L’Utilisateur peut également s’opposer, pour des motifs légitimes, à ce que des données à caractère personnel fassent l’objet d’un traitement.
  
  Les informations qui pourraient être demandées à l’Utilisateur seraient utilisées pour lui permettre de bénéficier de nouvelles fonctionnalités des Services« Sortez.org » ou pour lui permettre de personnaliser son contenu, ou encore pour permettre à Priviconcept d’améliorer le fonctionnement de son Site.
  
  Les destinataires des données sont le service technique chargé de l’exploitation et la maintenance du site, ainsi que le service administration des utilisateurs. Les informations saisies par l’Utilisateur ne seront pas transmises à un tiers, ni vendues ou échangées, sauf autorisation préalable de sa part.
  
  Les marques, les noms de domaine, les noms commerciaux, les logos et tout autre signe distinctif de Priviconcept, les graphismes, les photographies, les animations, les vidéos et les textes contenus sur « Sortez.org » sont la propriété intellectuelle de Priviconcept et ne peuvent être reproduits, utilisés ou représentés sans l'autorisation expresse de Priviconcept sous peine de poursuites judiciaires.
  
  <h4><span class="pink">Réclamation</span></h4>
  
  Pour toute réclamation, vous pouvez écrire à : Priviconcept - « Sortez.org » – 18 rue des Combattants d’Afrique du Nord ou envoyer un mail à : contact@sortez.org.
  
  
  
  <h4><span class="pink">Droit applicable – Attribution de juridiction</span></h4>
  
  Les présentes Conditions d'Utilisation sont régies, interprétées et appliquées par le droit français. La langue d'interprétation est la langue française en cas de contestation sur la signification d'un terme ou d'une disposition des présentes Conditions d'Utilisation. Sous réserve des dispositions d'ordre public applicables en matière de compétence juridictionnelle, les juridictions du ressort du siège de Priviconcept seront seules compétentes pour connaître de tout litige relatif aux présentes, y compris, sans que cette énumération soit limitative, leur validité, leur interprétation, leur exécution et/ou leur résiliation et ses conséquences.
  
  
</ion-content>
