<ion-header>

  <ion-toolbar>
    <ion-title>gestion plat du jours</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-col>
    <h2 class="titre_sortez">Liste plat du jour</h2>
  </ion-col>
  <ion-row>
    <ion-col col-12>
      <div id="bt" (click)="add_plat(msg)" class="buttonvert_sortez">Ajouter </div>
    </ion-col>
  </ion-row>
  <div *ngFor="let jison of res">
      <ion-card>
          <ion-item class="padding_left_0">
      <ion-row>
          <ion-col class="col-12">
              {{jison.description_plat}}<br>
              du {{jison.date_debut_plat}} au {{jison.date_debut_plat}}<br>
              <ion-row>
                  
              <div *ngIf="jison.photo != null">
                  <!-- this.linkImage="application/resources/front/photoCommercant/imagesbank/"+data[0].IdUsers_ionauth+"/"+data[0].photo;
                <img src="https://www.sortez.org/{{linkImage}}"> -->
                
                <img src="{{server}}application/resources/front/photoCommercant/imagesbank/{{jison.IdUsers_ionauth}}/{{jison.photo}}">
                
              </div>
              <ion-col col-12>
                <div class="buttonvert_sortez" *ngIf="jison.photo == null " (click)="set_photo(jison.id)">Integrer photo</div>
              </ion-col>
              <ion-col col-12>
                <div class="buttonvert_sortez" *ngIf="jison.photo !=null" (click)="delete_photo(jison.id)">Supprimer photo</div>
              </ion-col>
          
            </ion-row>
              <ion-row>
              <ion-col col-6>
                <div id="bt" (click)="delete_plat(jison.id)" class="buttonvert_sortez col-6">Supprimer</div>
              </ion-col>
              <ion-col col-6>
                <div id="bt" (click)="update_plat(jison.id)" class="buttonvert_sortez col-6">Modifier</div>
              </ion-col>
            </ion-row>
          </ion-col>
      </ion-row>
      </ion-item>
      </ion-card>     
  </div>
</ion-content>
