
<ion-header>

  <ion-toolbar>
    <ion-title>Coup de tampon</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding *ngFor="let jison of msg">
    <img id="imgq" src="assets/ico_sign_tampon_nv.png">
  
    <ion-input type="hidden" value="{{jison.json.id}}" [(ngModel)]="id"></ion-input>
    <ion-input type="hidden" value="{{jison.json.id_commercant}}"  [(ngModel)]="id_commercant"></ion-input>
    <ion-input type="hidden" value="{{jison.json.id_ionauth}}"  [(ngModel)]="id_ionauth"></ion-input>
    <ion-item *ngIf="jison.json.is_activ==0">
      <ion-label>Activation du module</ion-label>
      <ion-toggle [(ngModel)]="is_activ"checked="false"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="jison.json.is_activ==1">
        <ion-label>Activation du module</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>
  <ion-item>
    <ion-textarea placeholder="Description" value="{{jison.json.description}}" [(ngModel)]="description"></ion-textarea>
  </ion-item>
  
  <ion-label color="primary">Date debut:
      <ion-input type="date" value="{{jison.json.date_debut}}" [(ngModel)]="date_debut"></ion-input>
   </ion-label>
  
  <ion-label color="primary">Date fin:
      <ion-input type="date" value="{{jison.json.date_fin}}" [(ngModel)]="date_fin"></ion-input>
    </ion-label>
  
  <ion-item>
      <ion-label color="primary">Objectif:</ion-label><br>
      <ion-input type="number" value="{{jison.json.tampon_value}}" [(ngModel)]="tampon_value"></ion-input>
    </ion-item>
  
  <div class="centred"><button ion-button block color="primary" [style.backgroundColor]="enable ? '#00CC00' : 'green'" class="marginTop" (click)="ValidateTampon(id,id_ionauth,id_commercant,is_activ,description,date_debut,date_fin,tampon_value)"><ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon> &nbsp;Validation</button></div>
  
  </ion-content>