
  
  <ion-header>

    <ion-toolbar>
      <ion-title>Coup de tampon</ion-title>
    </ion-toolbar>
  
  </ion-header>
  <ion-content padding *ngFor="let jison of data">
  
    
      
      <ion-input type="hidden" value="{{jison.json.IdCommercant}}"  [(ngModel)]="jison.json.IdCommercant"></ion-input>
      <ion-input type="hidden" value="{{jison.json.user_ionauth_id}}"  [(ngModel)]="jison.json.user_ionauth_id"></ion-input>
      <ion-item>
          <ion-label>Activation du module</ion-label>
          <ion-toggle checked="true"></ion-toggle>
        </ion-item>
    <ion-item>
      <ion-textarea placeholder="Description" [(ngModel)]="description"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary">Date debut:</ion-label>
      <ion-input type="date" [(ngModel)]="date_debut"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary">Date fin:</ion-label>
      <ion-input type="date" [(ngModel)]="date_fin"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary">Objectif:</ion-label>
        <ion-input type="number" [(ngModel)]="tampon_value"></ion-input>
      </ion-item>
    
    <button ion-button block color="primary" class="marginTop" (click)="ValidateTampon(jison.json.user_ionauth_id,jison.json.id_commercant,is_activ,description,date_debut,date_fin,tampon_value)">Validation</button>
    
    </ion-content>