<!--
  Generated template for the MailclientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Contact client</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col size="4">
      <div class="titre_sortez">ADRESSER DES MESSSAGES A CETTE S&Eacute;LECTION MAILS OU SMS</div>
    </ion-col>
  </ion-row>
  <ion-row  *ngIf="infocom.logo_mobile =='' || infocom.logo_mobile == null">
    <ion-col size="4"><img class='image_fluid_sortez' src="assets/imgs/logo_imageimport.png"></ion-col>
  </ion-row>
  <ion-row *ngIf="infocom.logo_mobile !='' && infocom.logo_mobile != null">
    <ion-col size="4"><img class='image_fluid_sortez' src={{logo_url}} ></ion-col>
  </ion-row>
  <ion-grid radio-group [(ngModel)]="sender">
  <ion-row>
    <ion-col size="2" *ngIf="infocom.logo_mobile =='' || infocom.logo_mobile == null"><div (click)="import_logo()" class="buttonvert_sortez">ajouter</div></ion-col>
    <ion-col size="2" *ngIf="infocom.logo_mobile !='' && infocom.logo_mobile != null"><div (click)="delete_logo()" class="buttons">supprimer</div></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">Ajouter votre logo</ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="4"><div class="bg_black_sortez">Choisissez votre action</div></ion-col>
  </ion-row>
    <ion-row>
        <ion-col col-10><img src="assets/imgs/logo_bonplan_mail.jpg"></ion-col>
        <ion-col col-2 class="padded_top_25_sortez"><ion-radio value="bonplan" checked></ion-radio></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10><img src="assets/imgs/logo_annif_mail.png"></ion-col>
      <ion-col col-2 class="padded_top_25_sortez"><ion-radio value="bon cadeau joyeux anniversaire" ></ion-radio></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-10><img src="assets/imgs/logo_table_mail.jpg"></ion-col>
    <ion-col col-2 class="padded_top_25_sortez"><ion-radio value="Reserver votre table" ></ion-radio></ion-col>
  </ion-row>
  <ion-row  *ngIf="infocom.image_mobile =='' || infocom.image_mobile == null">
    <ion-col col-10><img class='image_fluid_sortez' src="assets/imgs/other_image.png"></ion-col>
    <ion-col col-2 class="padded_top_25_sortez"><ion-radio value="other"></ion-radio></ion-col>
  </ion-row>
  <ion-row *ngIf="infocom.image_mobile !='' && infocom.image_mobile != null">
    <ion-col col-10><img class='image_fluid_sortez' src={{image_url}} ></ion-col>
    <ion-col col-2 class="padded_top_25_sortez"><ion-radio value="other"></ion-radio></ion-col>
  </ion-row>
</ion-grid>
<ion-row>
  <ion-col size="2" *ngIf="infocom.image_mobile =='' || infocom.image_mobile == null"><div (click)="import_image()" class="buttonvert_sortez">ajouter</div></ion-col>
  <ion-col size="2" *ngIf="infocom.image_mobile !='' && infocom.image_mobile != null"><div (click)="delete_image()" class="buttons">supprimer</div></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4'>Ajouter votre texte</ion-col>
</ion-row>
<ion-row>
  <ion-col size='4'>
    <ion-textarea [(ngModel)]="message" name="message"></ion-textarea>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size='4'>
    Ce bouton apparaîtra sur votre message
    à vous de préciser vers quelle page
    de votre site, il devra se diriger.
  </ion-col>
</ion-row>
<br>
  Choisissez un lien automatisé
<br><br>
<ion-row >
  <ion-col size="4">
    <ion-select class="width_100_sortez" id="btnpageacceuil" [(ngModel)]="existed_link">
      <ion-option selected value="home" >Page d'accueil</ion-option>
      <ion-option value="art">Page actualité</ion-option>
      <ion-option value="ag">Page agenda</ion-option>
      <ion-option value="bp_list">Page liste bon plan</ion-option>
     <!-- <ion-option value="bp_1">Page  bon plan 1</ion-option>
      <ion-option value="bp_2">Page  bon plan 1</ion-option>
      <ion-option value="bp_3">Page  bon plan 1</ion-option>-->
      <ion-option value="plat">Page plat du jour</ion-option>
      <ion-option value="fd">Page fidélité</ion-option>
      <ion-option value="bout">Page boutique en ligne</ion-option>
    </ion-select>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-input placeholder="Un autre lien personnalisé" class="input_client" type='text' [(ngModel)]="custom_link"></ion-input>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size='4'>
    SMS ou e-mails à vous de choisir
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size='2'>
   <img class="icone_medium_sortez" src="assets/imgs/btn_sms_sender.png">
  </ion-col>
  <ion-col size='2' >
    <img class="icone_medium_sortez" id="btn_mail_sender" src="assets/imgs/btn_mail_sender.png">
  </ion-col>
</ion-row>
<ion-row radio-group [(ngModel)]="type_sender">
  <ion-col size='2'><ion-radio value="sms"></ion-radio></ion-col>
  <ion-col size='2'><ion-radio value="mail"></ion-radio></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4'>
    <div class="buttonvert_sortez" (click)=send_byparams(sender,message,existed_link,custom_link,type_sender,Nomcom,villecom,telcom)>Valider et envoyer</div>
  </ion-col>
</ion-row>
</ion-content>
