<!--
  Generated template for the SendsmsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Sms</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Contenu du SMS
    </ion-card-header>
    <ion-input type="hidden" value="{{Nom}}" [(ngModel)]="Nom" disabled="true"></ion-input>
    <ion-input type="hidden" value="{{Ville}}" [(ngModel)]="Ville" disabled="true"></ion-input>
    <ion-input type="hidden" value="{{NumCom}}" [(ngModel)]="Numcom" disabled="true"></ion-input>
    <ion-row>
      <ion-input type="tel"  placeholder="" value="{{numPortable}}" [(ngModel)]="numphone" disabled="true"></ion-input>
    </ion-row>   
    <ion-card-content id="items">
      <ion-textarea placeholder="Ici" [(ngModel)]="smsed"></ion-textarea>
    </ion-card-content>
    <!-- <button class="buttonvert_sortez" ion-button full color="danger" (click)="sendsmstoall(numphone,smsed)">Envoyer</button> -->
  </ion-card>
  <button class="buttonvert_sortez" (click)="sendsmstoall(numphone,smsed,Nom,Ville,Numcom)">Envoyer</button>
</ion-content>
