
<ion-header>

  <ion-toolbar>
    <ion-title>Remise directe</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding *ngFor="let jison of msg">

    <img id="img" src="assets/ico_sign_remise.png">
  <ion-input type="hidden" value="{{jison.json.id}}" [(ngModel)]="id"></ion-input>
  <ion-input type="hidden" value="{{jison.json.id_commercant}}"  [(ngModel)]="id_commercant"></ion-input>
  <ion-input type="hidden" value="{{jison.json.id_ionauth}}"  [(ngModel)]="id_ionauth"></ion-input>
  <ion-item *ngIf="jison.json.is_activ==0">
    <ion-label>Activation du module</ion-label>
    <ion-toggle  checked="false"  [(ngModel)]="is_activ"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="jison.json.is_activ==1">
      <ion-label>Activation du module</ion-label>
      <ion-toggle  checked="true"></ion-toggle>
    </ion-item>
    <ion-label>Montant remise:</ion-label>
  <ion-item *ngIf="jison.json.value_type==2">
    <ion-input type="number" value="{{jison.json.montant}}" [(ngModel)]="montant"></ion-input>
      <ion-select  [(ngModel)]="value_type">
          <ion-select-option value="1">%</ion-select-option>
          <ion-select-option value="2" [selected]="jison.json.value_type==2">€</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="jison.json.value_type==1">
        <ion-input type="number" value="{{jison.json.montant}}" [(ngModel)]="montant"></ion-input>
          <ion-select  [(ngModel)]="value_type">
              <ion-select-option value="1" [selected]="jison.json.value_type==1">%</ion-select-option>
              <ion-select-option value="2">€</ion-select-option>
            </ion-select>
        </ion-item>
<ion-item>
  <ion-textarea placeholder="Description" value="{{jison.json.description}}" [(ngModel)]="description"></ion-textarea>
</ion-item>
<ion-label color="primary">Date debut:
    <ion-input type="date" value="{{jison.json.date_debut}}" [(ngModel)]="date_debut"></ion-input>
  </ion-label>

<ion-label color="primary">Date fin:
    <ion-input type="date" value="{{jison.json.date_fin}}" [(ngModel)]="date_fin"></ion-input>
  </ion-label>

<div class="centred"><button ion-button block color="primary" [style.backgroundColor]="enable ? '#00CC00' : 'green'" class="marginTop" (click)="ValidateRemise(id,value_type,id_ionauth,id_commercant,is_activ,description,date_debut,date_fin,montant)"><ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon> &nbsp;Validation</button></div>

</ion-content>
