<ion-header>

  <ion-toolbar>
    <ion-title>Details client</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div *ngFor="let jison of infoclient">
  <ion-row>
    <ion-col size="4" id="tittle_client">CLIENT: {{jison.Nom}}  {{jison.Prenom}}</ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="4">
    <a href="mailto:{{jison.Email}}"><img src="assets/bon_ico2.png"></a>
    <a href="tel:{{jison.Portable}}"><img src="assets/bon_ico_3.png"></a>
    <img (click)="infoconsoPage(jison.IdUser)" src="assets/bon_ico4.png">
    
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size='4' ><ion-input class="itms" disabled="true" type="text" value="{{jison.Nom}}"></ion-input></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4' ><ion-input class="itms" disabled="true" type="text" value="{{jison.Prenom}}"></ion-input></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4' ><ion-input class="itms" disabled="true" type="date" value="{{jison.DateNaissance}}"></ion-input></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4' ><ion-input class="itms" disabled="true" type="text" value="{{jison.Adresse}}"></ion-input></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4' ><ion-input class="itms" disabled="true" type="number" value="{{jison.CodePostal}}"></ion-input></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4'><ion-input class="itms" disabled="true" type="text" value="{{jison.NomVille}}"></ion-input></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4' ><ion-input class="itms" disabled="true" type="text" value="{{jison.Email}}"></ion-input></ion-col>
</ion-row>
<ion-row>
  <ion-col size='4' ><ion-input class="itms" disabled="true" type="number" value="{{jison.Portable}}"></ion-input></ion-col>
</ion-row>
<ion-row>
  <ion-col size="4">
    <div (click)="infoconsoPage(jison.IdUser)" class="buttonvert_sortez">HISTORIQUE CLIENT</div>
  </ion-col>
</ion-row>
</div>
</ion-content>
