<!--
  Generated template for the ForgottenpassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Mot de passe</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div class="margetop2">
        <img src="assets/img_login_head.png" class="logo"/>
      <p class="titre_sortez">MOT DE PASSE OUBLIÉ</p>
      <p class="txtcenter_sortez">Indiquer votre nom d'utilisateur pour redefinir votre mot de passe.</p>
      <ion-input type="email" class="itms" [(ngModel)]="email"></ion-input><br>
      <div (click)='getpasse(email)' class="buttons">
          ENVOYER
      </div>
  </div>
</ion-content>
