<!--
  Generated template for the DetailTablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>HEBERGEMEMT</ion-title>
  </ion-navbar>

</ion-header>
  
  <ion-content padding>
  <div *ngFor="let jison of data" >
      <ion-grid>
          <ion-row>
            <ion-col class="label" col-4>Nom:</ion-col>
            <ion-col class="value" col-8>{{jison.Nom}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="label" col-4>Prenom:</ion-col>
          
              <ion-col class="value" col-8>{{jison.prenom}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="label" col-4>Mail:</ion-col>
              <ion-col class="value" col-6>{{jison.mail}}</ion-col>
              <ion-col class="value" col-2><a href="mailto:{{jison.mail}}"> <ion-icon ios="ios-mail" md="md-mail"></ion-icon></a></ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="label" col-4>Téléphone:</ion-col>       
              <ion-col class="value" col-6>{{jison.tel}}</ion-col>
              <ion-col class="value" col-2><a href="tel:{{jison.tel}}"><ion-icon ios="ios-call" md="md-call"></ion-icon></a></ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="label" col-4>Réservé le:</ion-col>
              <ion-col class="value" col-8>{{jison.date_de_reservation}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="label" col-4>Arrivée:</ion-col>
              <ion-col class="value" col-8>{{jison.date_debut_res}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="label" col-4>Départ:</ion-col>
              <ion-col class="value" class="value" col-8>{{jison.date_fin_res}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="label" col-4>Place:</ion-col>
              <ion-col class="value" col-8>{{jison.nbre_adulte}} Adulte(s) et {{jison.nbre_enfant}} enfant(s)</ion-col>
          </ion-row>
        </ion-grid>
    <ion-card>
      <ion-card-header>
        Message:
      </ion-card-header>
      <ion-card-content>
        {{jison.message_client}}
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>
  