<ion-content class="ion-text-center ion-padding">
	<img src="assets/img_login_head.png" class="logo"/>
	<p class="titre_sortez">J’ACCÈDE À MON COMPTE PROFESSIONNEL</p>
	<ion-list> 
        <ion-label class="txtcenter_sortez">Précisez votre identifiant</ion-label>
        <ion-input type="email" class="itms" [(ngModel)]="identit"></ion-input>
          
        <ion-label class="txtcenter_sortez">Précisez votre mot de passe</ion-label>
        <ion-input type="password" class="itms" [(ngModel)]="passwor"></ion-input>
        <ion-row>
            <ion-label class="txtcenter_sortez left" size="2">
                <ion-checkbox [(ngModel)]="rmchecked" (ionChange)="save_data(rmchecked,identit,passwor)"></ion-checkbox>
                Enregistrez vos identifiants
            </ion-label>
        </ion-row>     
	</ion-list>

  	<div (click)='login(identit,passwor)' class="buttonconne" >
	  	J’ACCÈDE À MON COMPTE
	</div>

  	<div (click)='gotoforgottenpage()' id="btn_forgottenpass" class="buttons" >
	  	OUBLI DE MES IDENTIFIANTS
	</div>
</ion-content>
