<ion-header>
  <ion-toolbar>
    <ion-title>Qr code</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <div><img id="qr" src="assets/qr_text.png"></div>
    <div><img id="qr" src="assets/qrscan.png"></div>
    <div class="buttons" (click)="scanCode()">Scanner le QR CODE</div>
    <div *ngIf="scannedData">
      <p>
        Scanned Code Text : <b>{{ scannedData["text"] }}</b>
      </p>
      <p>
        Scanned Code Format : <b>{{ scannedData["format"] }}</b>
      </p>
    </div>
</ion-content>
