@font-face {
    font-family: 'Futura Md BT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Md BT Medium'), url('../../../assets/fonts/futuram.woff') format('woff');
}
.buttons{
    border-radius: 6px;
    color: white;
    height:50px;
    text-align: center;
    width: 100%;
    background-color: rgb(218, 24, 147);
    line-height: 0;
    font-size: 14px;
    margin-top: 8px;
    padding-top: 23px;
    border: 3px solid black;
    font-family: 'Futura Md BT Medium' !important;
    text-transform: uppercase;
}