<!--
  Generated template for the ListValidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Qr code</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div><img id="qr" src="assets/qr_text.png"></div>
  <div><img id="qr" src="assets/qrscan.png"></div>
<!--<ion-list>-->
<div class="buttons"  (click)="scanBarcode()">Scanner le QR CODE</div>
  <!-- <ion-item>
    <ion-label floating><ion-icon ios="ios-locate" md="md-locate"></ion-icon> &nbsp;Preciser le numero de la carte</ion-label>
    <ion-input type="number"[(ngModel)]="num_card_scan"></ion-input>
  </ion-item> 
</ion-list>
<button ion-button block (click)="check(num_card_scan)" ><ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon> &nbsp;Validation</button> -->
</ion-content>
