<ion-header>

  <ion-toolbar>
    <ion-title>Bon plans</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding>
  <h2 class="titre_sortez">LISTE DE MES BONS PLANS</h2>
    <ion-row>
      <ion-col col-12>
        <div (click)="parabon()" class="buttonvert_sortez">Ajouter</div>
      </ion-col>
    </ion-row>
  <div *ngIf="data !=null" class="form2">
      <ion-card *ngFor="let jison of data">
        <ion-card-header class="padding_left_0">
            <ion-card-subtitle>{{jison.bonplan_titre}}</ion-card-subtitle>
            <ion-card-title>
                <ion-row>
                    <ion-col col-12>
                      <span *ngIf="jison.bonplan_date_debut !=null">du {{jison.bonplan_date_debut}} <br> au
                        {{jison.bonplan_date_fin}}</span>
                      <span *ngIf="jison.bp_unique_date_debut !=null">du {{jison.bp_unique_date_debut}} <br> au
                        {{jison.bp_unique_date_fin}}</span>
                      <span *ngIf="jison.bp_multiple_date_debut !=null">du {{jison.bp_multiple_date_debut}} <br> au
                        {{jison.bp_multiple_date_fin}}</span>
                    </ion-col>
                    <ion-col col-12>
                      <span *ngIf="jison.bonplan_id != null"></span>
                      <span *ngIf="jison.bonplan_type ==1">Bonplan unique</span>
                      <span *ngIf="jison.bonplan_type ==2">Bonplan simple</span>
                      <span *ngIf="jison.bonplan_type ==3">Bonplan multiple</span>
                    </ion-col>
                  </ion-row>
            </ion-card-title>  
        </ion-card-header>
        <ion-card-content>
          <ion-row>
              <div *ngIf="jison.bonplan_photo1 != null">
                  <!-- this.linkImage="application/resources/front/photoCommercant/imagesbank/"+data[0].IdUsers_ionauth+"/"+data[0].photo;
            <img src="https://www.sortez.org/{{linkImage}}"> -->
      
                  <img
                    src="https://www.sortez.org/application/resources/front/photoCommercant/imagesbank/{{jison.user_ionauth_id}}/{{jison.bonplan_photo1}}">
                </div>
                <ion-col col-12>
                  <div class="buttonvert_sortez" *ngIf="jison.bonplan_photo1 == null "
                    (click)="set_photo(jison.bonplan_id)">Integrer une photo</div>
                </ion-col>
                <ion-col col-12>
                  <div class="buttonvert_sortez" *ngIf="jison.bonplan_photo1 !=null"
                    (click)="delete_photo(jison.bonplan_id)">Supprimer la photo</div>
                </ion-col>
                <ion-col col-6>
                  <div class="buttonvert_sortez" *ngIf="jison.bonplan_id !=null" (click)="delete(jison.bonplan_id)">
                    Supprimer</div>
                </ion-col>
                <ion-col col-6>
                  <div class="buttonvert_sortez" *ngIf="jison.bonplan_id !=null" (click)="update(jison.bonplan_id)">Modifier
                  </div>
                </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </div>
  <div *ngIf="data == null">
      <ion-label class="titre_info2">Vous n'avez pas de bon plan!</ion-label>
  </div>
</ion-content>