<!--
  Generated template for the RestaurantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>RESERVATIONS</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="4" id="title">RESERVATIONS</ion-col>
  </ion-row>
  <!--<ion-row>
    <ion-col size="2" ><div class="boutonsresto">IMPRIMER</div></ion-col>
    <ion-col size="2" ><div (click)="importCSV()" class="boutonsresto">EXPORT CSV</div></ion-col>
  </ion-row>
   <ion-row class="soustitre" size="4">
    <div class="icon"><img src="assets/wp0b0a28ef_06.png" class="img"></div>
    <div class="titresoustitre">PLAT DU JOUR : MARDI 8 JANVIER</div>
    <div class="icon"><img src="assets/wp0b0a28ef_07.png" class="img"></div>
  </ion-row>
  <ion-grid>
    <ion-row class="soustitre">
      <ion-col col-2><img src="assets/wp0b0a28ef_06.png" class="img"></ion-col>
      <ion-col col-10 class="titresoustitre">PLAT DU JOUR : {{date}}</ion-col>
      <ion-col col-2><img src="assets/wp0b0a28ef_07.jpg" class="img"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
    <ion-col col-6></ion-col>
      <ion-col col-2><div class="dtsold"></div></ion-col>
      <ion-col col-2 ><div class="dtnbr"></div></ion-col>
      <ion-col col-2 ><div class="dtnbr"></div></ion-col>
      
      <ion-col col-6>Nom</ion-col>
      <ion-col col-2>Solde</ion-col>
      <ion-col col-2>Heure</ion-col>
      <ion-col col-2>Actions</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <div *ngFor="let jison of msg.plat">
      <ion-row>
        <ion-col col-2><img (click)="client_details(jison.IdUser)" src="assets/wpe4d7b941_06.png"></ion-col>
        <ion-col col-4 class="info2">{{jison.Nom}} {{jison.prenom}}</ion-col>
        <ion-col col-2 class="info">{{jison.nbre_plat_propose}}</ion-col>
        <ion-col col-2 class="info">{{jison.heure_debut_reservation}}</ion-col>
        <ion-col col-2 class="info"><ion-icon (click)="details_plat(jison.idRes)" ios="ios-add-circle" md="md-add-circle"></ion-icon></ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid>
    <ion-row class="soustitre">
     <ion-col col-2><img src="assets/wp0b0a28ef_06.png" class="img"></ion-col>
      <ion-col col-10 class="titresoustitre">Réservation table</ion-col>
      <ion-col col-2><img src="assets/wp0b0a28ef_07.jpg" class="img"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
     <ion-col col-6></ion-col>
      <ion-col col-2><div class="dtsold"></div></ion-col>
      <ion-col col-2 ><div class="dtnbr"></div></ion-col>
      <ion-col col-2 ><div class="dtnbr"></div></ion-col>
      
      <ion-col col-4>Nom</ion-col>
      <ion-col col-4>Date de reservation</ion-col>
      <ion-col col-4>Action</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <div *ngFor="let jisonT of msg.table">
      <ion-row>
        <ion-col col-4 class="info2">{{jisonT.Nom}}</ion-col>
        <ion-col col-4 class="info">{{jisonT.date_de_reservation}}</ion-col>
        <ion-col col-2 class="info"><ion-icon (click)="details_table(jisonT.idRes)" ios="ios-add-circle" md="md-add-circle"></ion-icon></ion-col>
        <ion-col col-2 class="info"><ion-icon (click)="delete_table(jisonT.idRes)" ios="ios-close-circle" md="md-close-circle"></ion-icon></ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid>
    <ion-row class="soustitre">
      <ion-col col-2><img src="assets/wp0b0a28ef_06.png" class="img"></ion-col>
      <ion-col col-10 class="titresoustitre">Réservation sejour</ion-col>
      <ion-col col-2><img src="assets/wp0b0a28ef_07.jpg" class="img"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
    <ion-col col-6></ion-col>
      <ion-col col-2><div class="dtsold"></div></ion-col>
      <ion-col col-2 ><div class="dtnbr"></div></ion-col>
      <ion-col col-2 ><div class="dtnbr"></div></ion-col>
      
      <ion-col col-4>Nom</ion-col>
      <ion-col col-4>Date de reservation</ion-col>
      <ion-col col-4>Action</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <div *ngFor="let jisonS of msg.sejour">
      <ion-row>
        <ion-col col-4 class="info2">{{jisonS.Nom}} :</ion-col>
        <ion-col col-4 class="info">{{jisonS.date_de_reservation}} :</ion-col>
        <ion-col col-2 class="info"><ion-icon (click)="details_sejour(jisonS.idRes)" ios="ios-add-circle" md="md-add-circle"></ion-icon></ion-col>
        <ion-col col-2 class="info"><ion-icon (click)="delete_sejour(jisonS.idRes)" ios="ios-close-circle" md="md-close-circle"></ion-icon></ion-col>
      </ion-row>
    </div>
  </ion-grid>-->
  <ion-grid>
    <ion-row >
      <ion-col col-12><div class="buttons" (click)="detail_res_plat()">Reservation Plat</div></ion-col>    
      <ion-col col-12><div class="buttons" (click)="detail_res_sejour()">Réservation Séjour</div></ion-col>
      <ion-col col-12><div class="buttons" (click)="detail_res_table()">Réservation Table</div></ion-col>    
    </ion-row>
  </ion-grid>
</ion-content>