<ion-header>

  <ion-toolbar>
    <ion-title>Consommation</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding>
<ion-row>
  <ion-col class="titre_sortez" size="4">
      HISTORIQUE DE LA CONSOMMATION CLIENT
  </ion-col>
</ion-row>
<div *ngFor="let jison of infoconso">

    <ion-row >
      <ion-col col-12 class="info2">{{jison.client.nomClient}} {{jison.client.prenomClient}}</ion-col>
      <ion-col col-12 class="info">{{jison.client.ville_nom}}</ion-col>
    </ion-row>    


    <ion-row >
      <ion-col size="2"><div class="iconimg"><a (click)="client_details(jison.client.IdUser)"><img src="assets/bon_ico1.png" ></a></div></ion-col>
      <ion-col size="2"><div class="iconimg"><a href="mailto:{{jison.client.Email}}"><img src="assets/bon_ico2.png" ></a></div></ion-col>
      <ion-col size="2"><div class="iconimg"><a href="tel:{{jison.client.Portable}}"><img src="assets/bon_ico_3.png"></a></div></ion-col>
      <ion-col size="2"><div class="iconimg"><img (click)="sendmsg(jison.client.Portable,jison.commercant.NomSociete,jison.commercant.ville_nom,jison.commercant.TelMobile)" src="assets/wpc90a70ba_06.png"></div></ion-col>
      <!--<ion-col size="2"><div class="iconimg"><a href=""><img src="assets/wp2f594ad0_06.png"></a></div></ion-col>-->
    </ion-row>

</div>
<div id='background_bonplan' *ngFor="let jison of infoconso">
<!-- <div id='background_bonplan' *ngIf="jison.user_bonplan"> -->
  <ion-row>
    <ion-col col-12 class="titre_info">
      BON PLAN
    </ion-col>
  </ion-row>
  <div class="pl1 pr1">
      <ion-row *ngIf="jison.user_bonplan!=null" class="background_black">
          <!-- <ion-row class="background_black"> -->
            <ion-col  col-9 class="info_bon left">
              {{jison.user_bonplan.date_validation}}
            </ion-col>
            <ion-col  col-3 class="info_bon right">
                BON
            </ion-col>
          </ion-row>
          <ion-row *ngIf="jison.user_bonplan!=null" class="background_black">
          <!-- <ion-row class="background_black"> -->
            <ion-col col-12 class="info_bon left">
              Nombre de personnes attachées : {{jison.user_bonplan.nb_place}}
            </ion-col>
        </ion-row>
  </div>
<!-- </div> -->
</div>
<!-- <div id='background_fidelity' *ngIf="jison.fidelity.is_activ==1"> -->
<div id='' *ngFor="let jison of infoconso">
<div id='background_fidelity' *ngIf="jison.fidelity.is_activ==1">
  <ion-row>
    <ion-col>
        OFFRE DE FIDÉLISATION
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='4'>
        SOLDE ACTUEL À CE JOUR
    </ion-col>
  </ion-row>
  <!-- <ion-row>
      <ion-col size='4'>
         {{ jison.offre}}:{{jison.fidelity.description}}
      </ion-col>
  </ion-row> -->
  <ion-row class="p-2" *ngIf="jison.offre !='remise'">
    <ion-col size="4" *ngIf="jison.offre =='tampon'">
        <!-- Actuel: {{jison.fidelity.solde_tampon}} -->
        <!-- Objectif: {{jison.fidelity.tampon_value}}  -->
        <div class="progressbarleft" [style.width]="widthleft+'%'"> {{jison.fidelity.solde_tampon}}</div>
        <div class="progressbarright" [style.width]="widthright+'%'"> {{jison.fidelity.tampon_value}}</div>
    </ion-col>
    <ion-col size="4" *ngIf="jison.offre =='capital'">
        <!-- Actuel: {{jison.fidelity.solde_capital}} -->
        <!-- Objectif: {{jison.fidelity.objectif}}  -->
        <div class="progressbarleft" [style.width]="widthleft+'%'"> {{jison.fidelity.solde_capital}}</div>
        <div class="progressbarright" [style.width]="widthright+'%'"> {{jison.fidelity.objectif}}</div>
    </ion-col>
  </ion-row>
  <ion-row >
      <ion-col col-12 *ngIf="jison.fidelity.date_dernier_validation !=null">{{jison.fidelity.date_dernier_validation}} : {{jison.fidelity.dernier_value_added}}</ion-col>
  </ion-row>
  <!-- <ion-row >
      <ion-input col-12 type="number" class="itms"></ion-input>
  </ion-row> -->
  <ion-row *ngIf="jison.offre =='remise'">
      <ion-col size="4">
        Cumul consommation: {{jison.fidelity.solde_remise}}
      </ion-col>
  </ion-row>
      <ion-input type="hidden" value="{{jison.fidelity.fiche_id}}"  [(ngModel)]="fiche_id"></ion-input>
      <ion-input type="hidden" value="0"  [(ngModel)]="montant_init1"></ion-input>
      <ion-input type="hidden" value="{{jison.offre}}"  [(ngModel)]="type_offre"></ion-input>
      <ion-input type="hidden" value="{{jison.fidelity.id_user}}"  [(ngModel)]="id_user"></ion-input>
      <ion-input type="hidden" value="{{jison.fidelity.id_commercant}}"  [(ngModel)]="id_commercant"></ion-input>
  <ion-row>
    <ion-col size="4">
     <div (click)="reinitialisation(fiche_id,type_offre,id_user,id_commercant,montant_init1)" class="btn_login">Remettre à zéro</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
        NOTER LE REPORT

        À NOUVEAU
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
        En actualisant, le solde actuel est remis à zéro. Si il y a un solde à reporter, il apparaîtra automatiquement.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
        <ion-input class="input_white border" type="text" [(ngModel)]="montant_init2"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <div (click)="reinitialisation(fiche_id,type_offre,id_user,id_commercant,montant_init2)" class="btn_login">Valider</div>
    </ion-col>
  </ion-row>
</div>
</div>

<div id="background_plat">
<ion-row>
  <ion-col size="4">
      ETAT DES RÉSERVATIONS DES PLATS DU JOUR
  </ion-col>
</ion-row>
<ion-row class="nfo_bon left">
    <!-- <ion-col size="4">
       <div (click)="reinitialisation_plat()" class="buttonvert_sortez">REMETRE À ZERO</div>
    </ion-col> -->
    <ion-col class="bg_red" col-6 >
    Cumul
  </ion-col>    
    <ion-col class="bg_red text-right" col-6 >
        {{resplat}}
    </ion-col>    
</ion-row>
<div *ngFor="let jison of data">
    <div *ngFor="let infoplat of jison.plat">
  <ion-row class="nfo_bon left">   
      <ion-col col-12>{{infoplat.date_validation}} : {{infoplat.nbre_platDuJour}}</ion-col>    
  </ion-row>
</div>
</div>
</div>
<!-- </div> -->
</ion-content>
