<ion-header>

  <ion-toolbar>
    <ion-title>Liste des clients</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding class="text_white">
    <div class="container_table">
      <ion-row>
          <ion-label class="titre_sortez">LISTE DE MES CLIENTS ET S&Eacute;LECTION DE MES DESTINATAIRES</ion-label>
      </ion-row>
      <ion-row>
        <ion-col col-6><div (click)='annif()' class="buttonvert_sortez">anniversaire</div></ion-col>
        <ion-col col-6><div (click)="filter_advanced()" class="buttonvert_sortez">Filtre</div></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><div (click)='presentPrompt()' class="buttonvert_sortez">Rechercher</div></ion-col>
        <ion-col col-6><div (click)="showall()" class="buttonvert_sortez">Réinitialiser</div></ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12><div (click)="sendMailSms(msg)" class="buttonvert_sortez">ADRESSER DES EMAILS OU SMS</div></ion-col>
      </ion-row><br>
    </div>
    <div *ngFor="let jison of msg" class="bordered_top_sortez">
      <div class="container_table">
          <ion-row class="padded blacked centered">
            <ion-col col-12>NB:Si aucun n'est coché, tous les clients seront sélectionnés automatiquement</ion-col>
          </ion-row>
          <ion-row class="padded">
              <ion-col col-2 class="padded">
                  <ion-checkbox  (ionChange)="addCheckbox($event,jison)"></ion-checkbox>
                </ion-col>
              <ion-col col-6 class="blacked left">
                <span class="name">{{jison.Nom}}</span> <span class="name">{{jison.Prenom}}</span><br>
                <span class="name">{{jison.Ville}}</span>
              </ion-col>
              <ion-col col-4>
                  <img class='iconconf' (click)="infoconsoPage(jison.IdUser,jison.commercant.Login)" src="assets/setting_icon.png">
              </ion-col>
            </ion-row>
            <ion-row class="text-black">
                <ion-col size='4'>
                    {{jison.description_offre}}
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='4'>
                <div class="progressbarleft text-white" [style.width]="widthleft(jison.solde,jison.objectif)">{{jison.solde}}</div><div *ngIf="jison.objectif !=null" [style.width]="widthright(jison.solde,jison.objectif)" class="progressbarright text-white">{{jison.objectif}}</div>
              </ion-col>
            </ion-row><br>
            <div *ngFor="let bonplan of jison.bonplan">
            <ion-row class="text-black">
                <ion-col size='4'>
                    {{bonplan.bonplan_titre}}
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                  <div class='bonplan_bar text-white'><span *ngIf="bonplan.valide ==0">Réservation Bon plan: {{bonplan.date_validation}}</span><span *ngIf="bonplan.valide =='1'" >Bon plan validé : {{bonplan.date_valid_bonplan}}</span></div>
              </ion-col>
            </ion-row><br>
          </div>
      </div>
    </div>
</ion-content>
