@font-face {
    font-family: 'Futura Md BT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Md BT Medium'), url('../../../assets/fonts/futuram.woff') format('woff');
}
ion-content{
    --padding-top: 10px;
}

.titre_sortez{
    font-size: 25.0px;
    text-align: center;
    color: black;
    margin:auto;
    font-family: 'Futura Md BT Medium' !important;
}

.txtcenter_sortez{
    font-family: 'Futura Md BT Medium' !important;
    color:black !important;
    font-size: 14px !important;
    text-align: center;
    padding-bottom: 10px;
}

.itms{
    background-color: white!important;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 14px;
}

.btn_forgottenpass{
    background-color: rgb(0, 128, 0)!important;
    border-radius: 10px;
    color: white;
    height: 50px;
    border-color: black;
    border-style: solid;
    text-align: center;
    width: 80%;
    line-height:3;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    height: 50px;
    border-color: black;
    border-style: solid;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    font-size: 14px;
    margin: auto;
}
.buttons{
    border-radius: 6px;
    color: white;
    height:50px;
    text-align: center;
    width: 100%;
    background-color: rgb(218, 24, 147);
    line-height: 0;
    font-size: 14px;
    margin-top: 8px;
    padding-top: 23px;
    border: 3px solid black;
    font-family: 'Futura Md BT Medium' !important;
    text-transform: uppercase;
}

.buttonconne{
    border-radius: 6px;
    color: white;
    height:50px;
    text-align: center;
    width: 100%;
    background-color: rgb(0,128,0);
    line-height: 0;
    font-size: 14px;
    margin: auto;
    padding-top: 23px;
    border: 3px solid black;
    font-family: 'Futura Md BT Medium' !important;
}
.padding{
    padding-top: 10px;
}
