  <ion-header>

    <ion-toolbar>
      <ion-title>Remise directe</ion-title>
    </ion-toolbar>
  
  </ion-header>
  <ion-content padding *ngFor="let jison of data">
    <ion-input type="hidden" value="{{jison.json.IdCommercant}}"  [(ngModel)]="id_commercant"></ion-input>
    <ion-input type="hidden" value="{{jison.json.user_ionauth_id}}"  [(ngModel)]="id_ionauth"></ion-input>
    <ion-item>
      <ion-label>Activation du module</ion-label>
      <ion-toggle  checked="false"  [(ngModel)]="is_activ"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Montant remise:</ion-label>
      <ion-input type="number"  [(ngModel)]="montant"></ion-input>
        <ion-select  [(ngModel)]="value_type">
            <ion-option value="1">%</ion-option>
            <ion-option value="2">€</ion-option>
          </ion-select>
      </ion-item>
  <ion-item>
    <ion-textarea placeholder="Description"  [(ngModel)]="description"></ion-textarea>
  </ion-item>
  
  <ion-item>
    <ion-label color="primary">Date debut:</ion-label>
    <ion-input type="date"  [(ngModel)]="date_debut"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label color="primary">Date fin:</ion-label>
    <ion-input type="date"  [(ngModel)]="date_fin"></ion-input>
  </ion-item>
  
  <button ion-button block color="primary" class="marginTop" (click)="ValidateRemise(id_ionauth,value_type,id_commercant,is_activ,description,date_debut,date_fin,montant)">Validation</button>
  
  </ion-content>
  