<ion-header>

  <ion-toolbar>
    <ion-title>Réservations</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div class="container_bon">
      <ion-row>
            <ion-label class="titre_bon">LISTE DES R&Eacute;SERVATIONS DES BONS PLANS EN COURS</ion-label>
      </ion-row>
  </div>
  <div class="container_bon" *ngFor="let jison of inforeserv">
        <ion-row>
          <ion-col col-12 class="titre_info3 left">{{jison.Prenom}} {{jison.Nom}}</ion-col>
          <ion-col col-12 class="titre_info3 left">{{jison.ville_client}}</ion-col>
        </ion-row>
        <ion-row >
          <ion-col size="2" ><img (click)=client_details(jison.IdUser,jison.Login) src="assets/bon_ico1.png"></ion-col>
          <ion-col size="2"><a href="mailto:{{jison.Email}}"><img src="assets/bon_ico2.png"></a></ion-col>
          <ion-col size="2" ><a href="tel:{{jison.Portable}}"><img src="assets/bon_ico_3.png"></a></ion-col>
          <ion-col size="2" ><a (click)="sendmsg(jison.Portable,infocom_nomsoc,infocom_ville,infocom_telmob)"><img src="assets/wpc90a70ba_06.png"></a></ion-col>
          <ion-col size="2" ><img (click)="validatebonplan(jison.bonplan_commercant_id,jison.IdUser,jison.id)" src="assets/bon_ico4.png"></ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-12 class="info3">Date de réservation : {{jison.date_validation}}</ion-col>
          <ion-col col-12 class="info3">Date de visite : {{jison.date_visit}}</ion-col>
          <ion-col col-12 class="info3">Nbre de personnes attachées : {{jison.bonplan_type}}</ion-col>
          <ion-col col-12 class="info3">Offre à utiliser avant le : {{jison.bp_multiple_date_fin}}</ion-col>
        </ion-row>
  </div>
  <div *ngIf="inforeserv[0].infoclient == false ">
    <ion-label class="titre_info4">Listes des bon plans en cours vide!</ion-label>
  </div>

</ion-content>