<!--
  Generated template for the DetailBonplanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Fidelisation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row >
    <ion-col col-12 class="grandtitre">Historique consommation</ion-col>
  </ion-row>
  <div *ngFor="let jison of data" >
 <div id='background_fidelity' *ngIf="jison.fidelity.is_activ==1">
  <ion-row>
    <ion-col>
        OFFRE DE FIDÉLISATION: {{jison.client.nomClient}} {{jison.client.prenomClient}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='4'>
        SOLDE ACTUEL À CE JOUR
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size='4'>
         {{ jison.offre}}:{{jison.fidelity.description}}
      </ion-col>
    </ion-row>
  <ion-row *ngIf="jison.offre !='remise'">
    <ion-col size="4" *ngIf="jison.offre =='tampon'">
        Actuel: {{jison.fidelity.solde_tampon}}<progress-bar id="progress" [progress]="((jison.fidelity.solde_tampon * 100 )/jison.fidelity.tampon_value )" [color-degraded]="{'0': 'rgb(255, 0, 0)',  '15': 'rgb(255, 0, 0)', '25': 'rgb(255, 0, 0)'}"></progress-bar>Objectif: {{jison.fidelity.tampon_value}} 
    </ion-col>
    <ion-col size="4" *ngIf="jison.offre =='capital'">
        Actuel: {{jison.fidelity.solde_capital}}<progress-bar id="progress" [progress]="((jison.fidelity.solde_capital * 100 )/jison.fidelity.objectif )" [color-degraded]="{'0': 'rgb(255, 0, 0)',  '15': 'rgb(255, 0, 0)', '25': 'rgb(255, 0, 0)'}"></progress-bar>Objectif: {{jison.fidelity.objectif}} 
    </ion-col>
  </ion-row>
  <ion-row *ngIf="jison.offre =='remise'">
      <ion-col size="4">
        Cumul consommation: {{jison.fidelity.solde_remise}}
      </ion-col>
  </ion-row>
      <ion-input type="hidden" value="{{jison.fidelity.fiche_id}}"  [(ngModel)]="fiche_id"></ion-input>
      <ion-input type="hidden" value="0"  [(ngModel)]="montant_init1"></ion-input>
      <ion-input type="hidden" value="{{jison.offre}}"  [(ngModel)]="type_offre"></ion-input>
      <ion-input type="hidden" value="{{jison.fidelity.id_user}}"  [(ngModel)]="id_user"></ion-input>
      <ion-input type="hidden" value="{{jison.fidelity.id_commercant}}"  [(ngModel)]="id_commercant"></ion-input>
  <ion-row>
    <ion-col size="4">
     <div (click)="reinitialisation(fiche_id,type_offre,id_user,id_commercant,montant_init1)" class="btn_login">Remettre à zéro</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
        NOTER LE REPORT

        À NOUVEAU
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
        En actualisant, le solde actuel est remis à zéro. Si il y a un solde à reporter, il apparaîtra automatiquement.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
        <ion-input class="input_white" type="text" [(ngModel)]="montant_init2">

        </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <div (click)="reinitialisation(fiche_id,type_offre,id_user,id_commercant,montant_init2)" class="btn_login">Valider</div>
    </ion-col>
  </ion-row>
</div>
</div>
</ion-content>
