<ion-header>

  <ion-toolbar>
    <ion-title>Restaurant</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
      <ion-row>
          <ion-label class="titre_sortez">
              DEMANDE DE RÉSERVATION DE RESTAURATION
          </ion-label>
      </ion-row>
  <div class="container_table">
      <ion-row>
          <ion-col col-12 ><div class="buttonvert_sortez" (click)='filtre_date_demande()'>CLASSEMENT PAR DATE DEMANDE</div></ion-col>
          <ion-col col-12 ><div class="buttonvert_sortez" (click)='filtre_date_debut()'>CLASSEMENT PAR DATE DÉBUT</div></ion-col>
      </ion-row>
  </div>
<div class="container_table" *ngFor="let jison of msg.table" >
      <ion-row>
        <ion-col class="titre_info2 left" size="2">{{jison.Nom}} {{jison.prenom}}</ion-col>
      </ion-row>
      <ion-row>        
          <ion-col class="titre_info2 left" size="2">{{jison.nomVille}}</ion-col>
      </ion-row>
      <ion-row>
          <ion-col><a href="mailto:{{jison.mail}}"><img src="assets/wpb5d957f8_06.png"></a></ion-col>
          <ion-col><a href="tel:{{jison.tel}}"><img src="assets/wp9151b655_06.png"></a></ion-col>
          <ion-col><img (click)="sendmsg(jison.tel,Nomcom,villecom,telcom)" src="assets/wpc90a70ba_06.png"></ion-col>
          <ion-col><img (click)="delete_table(jison.idRes)" src="assets/wp3befff58_06.png"></ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="info_sortez left" size="2">Date demande:</ion-col>
          <ion-col class="value_sortez" size="2"><span *ngIf="jison.date_de_reservation == '0000-00-00'">Non Précisé</span><span *ngIf="jison.date_de_reservation != '0000-00-00'">{{jison.date_de_reservation}}</span></ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="info_sortez left" size="2">Date arrivée:</ion-col>
          <ion-col class="value_sortez" size="2"><span *ngIf="jison.date_res == '0000-00-00'">Non Précisé</span><span *ngIf="jison.date_res != '0000-00-00'">{{jison.date_res}}</span></ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="info_sortez left" size="2">Heure arrivée:</ion-col>
          <ion-col class="value_sortez" size="2"><span *ngIf="jison.heure_midi ==null && jison.heure_soir ==null">Non Précisé</span><span *ngIf="jison.heure_midi !=null && jison.heure_soir !=null">{{jison.heure_midi}} {{jison.heure_soir}}</span></ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="info_sortez left" size="2">Nombre d'Adultes:</ion-col>
          <ion-col class="value_sortez" size="2">{{jison.nbre_adulte * 1}}</ion-col>
      </ion-row>
      <ion-row>
              <ion-col class="info_sortez left" size="2">Nombre d'Enfants:</ion-col>
              <ion-col class="value_sortez" size="2">{{jison.nbre_enfant * 1}}</ion-col>
          </ion-row>
      <ion-row>
          <ion-col class="info_sortez left" size="2">
              Commentaires:
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="value_sortez textjustify" size="4">
              {{jison.message_client}}
          </ion-col>
      </ion-row>
<br>
</div>
</ion-content>
