<!--
  Generated template for the BonplanlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
    <ion-title>Les bons plans</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding >
  <div *ngFor="let jison of msgnbre">
    <div *ngIf="jison.json.nbre >= jison.json.limit" class="warn">Limite de bon plan atteint, impossible d'ajouter un de plus.</div>
    <div *ngIf="jison.json.nbre < jison.json.limit">
    <button ion-button full class="buttons" (click)="addbonplan()"><ion-icon ios="ios-add" md="md-add"></ion-icon> &nbsp;Ajouter bonplan</button></div>
  </div>
<ion-card *ngFor="let jison of msg"> 
        <ion-card-content>
            <img id="imgb" src="assets/bonplan_btn_agenda.png">
                <ion-label id="label">Titre:<span id="labels"class="black">{{jison.json.bonplan_titre}}</span></ion-label>
              <ion-label id="label">Date debut:<span id="labels"*ngIf="jison.json.bonplan_type==1">
                <span id="labels"class="black">{{jison.json.bonplan_date_debut}}</span>              
              </span>
              <span id="labels"*ngIf="jison.json.bonplan_type==2">
                <span id="labels"class="black"> {{jison.json.bp_unique_date_debut}}</span>                 
              </span>
                <span id="labels"*ngIf="jison.json.bonplan_type==3">
                <span id="labels"class="black">  {{jison.json.bp_multiple_date_debut}}</span>                
                </span></ion-label>
                <ion-label id="label">Date fin:
                  <span id="labels"*ngIf="jison.json.bonplan_type==2">
                    <span id="labels"class="black"> {{jison.json.bp_unique_date_fin}}</span>   
                  </span>
                      <span id="labels"*ngIf="jison.json.bonplan_type==1">
                      <span id="labels"class="black"> {{jison.json.bonplan_date_fin}}</span>
                      </span>
                      <span id="labels"*ngIf="jison.json.bonplan_type==3">
                      <span id="labels"class="black">{{jison.json.bp_multiple_date_fin}}</span> 
                      </span>
                    </ion-label>
          <button ion-button class="buttons" (click)="deletebonplan(jison.json.bonplan_titre)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon> &nbsp;Supprimer</button>
          </ion-card-content>
      </ion-card>
</ion-content>
