<!--
  Generated template for the BonplanvalidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
    <ion-title>Bons Plans</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  
<div *ngFor="let jison of msg">
  
  <div *ngIf="jison.json.assoc_client.valide==0">Ce bon plan est autorisé.<br/>
    Vous pouvez le valider</div>
  <div *ngIf="jison.json.assoc_client.valide==1">Ce bon plan n'est pas accepté<br/>Il a déjà été validé</div>


  <div *ngIf="jison.json.oBonplan.bonplan_type==1">
    <ion-label id="lblsd" *ngIf="jison.json.visit.nb_place == null">Nombre de place réservée :1</ion-label>
    <ion-label id="lblsd" *ngIf="jison.json.visit.nb_place != null">Nombre de place réservée :{{jison.json.visit.nb_place}}</ion-label>
    <ion-label id="lblsd" >Date de visite prévue :<h4 *ngIf="jison.json.visit.date_visit == null">Pas de date sélectionnée</h4>{{jison.json.visit.date_visit}}</ion-label>
    
  <ion-label id="lblsd">Solde disponible à ce jour:<span *ngIf="jison.json.oBonplan.bonplan_quantite">{{jison.json.oBonplan.bonplan_quantite}}</span></ion-label>
<ion-label id="lblsd">reservation à ce jour:{{jison.json.objReservationNonValideCom.length}}</ion-label>
<div *ngIf="jison.json.assoc_client.valide==0">
    <ion-label id="lblsd" *ngIf="jison.json.visit.nb_place == null">Nombre de place réservée :1</ion-label>
    <ion-label id="lblsd" *ngIf="jison.json.visit.nb_place != null">Nombre de place réservée :{{jison.json.visit.nb_place}}</ion-label>
    <ion-label id="lblsd">Date de visite prévue:<h4 *ngIf="jison.json.visit.date_visit == null">Pas de date sélectionnée</h4>{{jison.json.visit.date_visit}}</ion-label>
    <ion-input type="hidden" [(ngModel)]="id_client_bonplan" value="{{jison.json.id_client_bonplan}}"></ion-input>
    <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
    <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
    <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
    <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
<div class="buttons"  (click)="card_bonplan_validate(id_client_bonplan,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
<!-- <div class="buttons"  *ngIf="jison.json.oTampon !=null  || jison.json.oTampon !=null || jison.json.oCapital !=null "  (click)="addEvent()">voir autre options</div>
<div  class="{{div}}">
  <div *ngIf="jison.json.oTampon !=null && jison.json.oTampon.is_activ ==1 ">
      <h3>Offre de coup de tampon</h3>
    <ion-label id="lblsd">{{jison.json.oTampon.titre}}</ion-label>
    <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
    <ion-input type="number" [(ngModel)]="unite_tampon_value"  (change)="showVal(unite_tampon_value,jison.json.tampon_client_value)"></ion-input>
    <span class="black"> {{jison.json.tampon_client_value}}</span> €<meter low="0" max="{{jison.json.tampon_commercant_value}}" value=" {{jison.json.tampon_client_value}}">{{jison.json.tampon_commercant_value}}</meter><span class="black">{{jison.json.tampon_commercant_value}}</span>€
    <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
    <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
    <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
    <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
    <div class="buttons" (click)="add_card_tampon_mobile(unite_tampon_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
  </div> -->
 
    <!--<div *ngIf="jison.json.objRemise !=null && jison.json.objRemise.is_activ ==1 ">
        <h3>Offre de remise direct</h3>
      <ion-label id="lblsd">{{jison.json.objRemise.description}}</ion-label>
      <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
      <ion-input type="number" [(ngModel)]="unite_remise_value"></ion-input>
      <span class="black"> cumul consommation</span> <span *ngIf="jison.json.assoc_client_remise.solde_remise && jison.json.assoc_client_remise.solde_remise !=null">{{jison.json.assoc_client_remise.solde_remise}} </span><span *ngIf="jison.json.assoc_client_remise.solde_remise ==null">0 </span>
      <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
      <div class="buttons" (click)="add_card_remise_mobile(unite_remise_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
    </div>
      <div *ngIf="jison.json.oCapital != null && jison.json.oCapital.is_activ ==1 ">
        <h3>Offre de capitalisation</h3>
        <ion-label id="lblsd">{{jison.json.oCapital.description}}</ion-label>
        <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
        <ion-input type="number" [(ngModel)]="unite_capital_value"></ion-input>
        <span  *ngIf="jison.json.oFicheclient !=null">
        <span class="black"> <span *ngIf="jison.json.oFicheclient !=null">{{jison.json.oFicheclient.solde_capital}}</span><span *ngIf="jison.json.oFicheclient ==null">0</span></span> €<meter low="0" max="{{jison.json.oCapital.montant}}" value="{{jison.json.oFicheclient.solde_capital}}">{{jison.json.oCapital.montant}}</meter><span class="black">{{jison.json.oCapital.montant}}</span>€
        </span>
        <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
        <div class="buttons" (click)="add_card_capital_mobile(unite_capital_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
      </div>-->
  <!-- </div> -->

</div>
  </div>





<div *ngIf="jison.json.oBonplan.bonplan_type ==2"> 
    <ion-label id="lblsd" *ngIf="jison.json.visit.nb_place == null">Nombre de place réservée :1</ion-label>
    <ion-label id="lblsd" *ngIf="jison.json.visit.nb_place != null">Nombre de place réservée :{{jison.json.visit.nb_place}}</ion-label>
    <ion-label id="lblsd">Date de visite prévue par le client :<h4 *ngIf="jison.json.visit.date_visit == null">Pas de date sélectionnée</h4>{{jison.json.visit.date_visit}}</ion-label>
  <ion-label id="lblsd">Solde disponible à ce jour:<span *ngIf="jison.json.oBonplan.bp_unique_qttprop">{{jison.json.oBonplan.bp_unique_qttprop}}</span></ion-label>
  <ion-label id="lblsd">reservation à ce jour:<span>{{jison.json.objReservationNonValideCom.length}}</span></ion-label>
  <div *ngIf="jison.json.assoc_client.valide==0">

      <ion-input type="hidden" [(ngModel)]="id_client_bonplan" value="{{jison.json.id_client_bonplan}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
      <div class="buttons"  (click)="card_bonplan_validate(id_client_bonplan,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
      <!-- <div class="buttons"  *ngIf="jison.json.oTampon !=null || jison.json.oTampon !=null || jison.json.oCapital !=null " (click)="addEvent()">voir autre options</div>
      <div class="{{div}}"> -->
    <!--<div *ngIf="jison.json.oTampon !=null && jison.json.oTampon.is_activ ==1 ">
        <h3>Offre de coup de tampon</h3>
      <ion-label id="lblsd">{{jison.json.oTampon.titre}}</ion-label>
      <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
      <ion-input type="number" [(ngModel)]="unite_tampon_value" (change)="showVal(unite_tampon_value,jison.json.tampon_client_value)"></ion-input>
      <span class="black"> {{jison.json.tampon_client_value}}</span> €<meter low="0" max="{{jison.json.tampon_commercant_value}}" value=" {{jison.json.tampon_client_value}}">{{jison.json.tampon_commercant_value}}</meter><span class="black">{{jison.json.tampon_commercant_value}}</span>€
      <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
      <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
      <div class="buttons"  (click)="add_card_tampon_mobile(unite_tampon_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
    </div>
   
      <div *ngIf="jison.json.objRemise !=null && jison.json.objRemise.is_activ ==1 ">
          <h3>Offre de remise direct</h3>
        <ion-label id="lblsd">{{jison.json.objRemise.description}}</ion-label>
        <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
        
        <ion-input type="number" [(ngModel)]="unite_remise_value"></ion-input>
        <span class="black"> cumul consommation</span> <span *ngIf="jison.json.assoc_client_remise.solde_remise && jison.json.assoc_client_remise.solde_remise && jison.json.assoc_client_remise.solde_remise !=null">{{jison.json.assoc_client_remise.solde_remise}} </span><span *ngIf="jison.json.assoc_client_remise.solde_remise ==null">0 </span>
        <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
        <div class="buttons"  (click)="add_card_remise_mobile(unite_remise_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
      </div>
        <div *ngIf="jison.json.oCapital != null && jison.json.oCapital.is_activ ==1 ">
          <h3>Offre de capitalisation</h3>
          <ion-label id="lblsd">{{jison.json.oCapital.description}}</ion-label>
          <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
          <ion-input type="number" [(ngModel)]="unite_capital_value"></ion-input>
          <span  *ngIf="jison.json.oFicheclient !=null">
          <span class="black"> <span *ngIf="jison.json.oFicheclient !=null">{{jison.json.oFicheclient.solde_capital}}</span><span *ngIf="jison.json.oFicheclient ==null">0</span></span> €<meter low="0" max="{{jison.json.oCapital.montant}}" value="{{jison.json.oFicheclient.solde_capital}}">{{jison.json.oCapital.montant}}</meter><span class="black">{{jison.json.oCapital.montant}}</span>€
          </span>
          <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
          <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
          <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
          <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
          <div class="buttons"  (click)="add_card_capital_mobile(unite_capital_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
        </div>
        -->
    <!-- </div> -->

</div>
</div>

<div *ngIf="jison.json.oBonplan.bonplan_type ==3">
    <ion-label id="lblsd" *ngIf="jison.json.visit.nb_place == null">Nombre de place réservée :1</ion-label>
    <ion-label id="lblsd" *ngIf="jison.json.visit.nb_place != null">Nombre de place réservée :{{jison.json.visit.nb_place}}</ion-label>
    <ion-label id="lblsd">Date de visite prévue par le client :<h4 *ngIf="jison.json.visit.date_visit == null">Pas de date sélectionnée</h4>{{jison.json.visit.date_visit}}</ion-label>
      <ion-label id="lblsd">Solde disponible à ce jour:<span *ngIf="jison.json.oBonplan.bp_multiple_qttprop">{{jison.json.oBonplan.bp_multiple_qttprop}}</span></ion-label>
      <ion-label id="lblsd">reservation à ce jour:<span>{{jison.json.objReservationNonValideCom.length}}</span></ion-label>
      <div *ngIf="jison.json.assoc_client.valide==0">

        <ion-input type="hidden" [(ngModel)]="id_client_bonplan" value="{{jison.json.id_client_bonplan}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>

      <div class="buttons"  (click)="card_bonplan_validate(id_client_bonplan,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
      <!-- <div class="buttons"  *ngIf="jison.json.oTampon !=null || jison.json.oTampon !=null || jison.json.oCapital !=null "  (click)="addEvent()">Voir autre options</div>
      <div class="{{div}}"> -->
      <!-- <div *ngIf="jison.json.oTampon !=null && jison.json.oTampon.is_activ ==1 ">
          <h3>Offre de coup de tampon</h3>
        <ion-label id="lblsd">{{jison.json.oTampon.titre}}</ion-label>
        <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
        <ion-input type="number" [(ngModel)]="unite_tampon_value"  (change)="showVal(unite_tampon_value,jison.json.tampon_client_value)" placeholder="nombre d'unité"></ion-input>
        <span class="black"> {{jison.json.tampon_client_value}}</span> €<meter low="0" max="{{jison.json.tampon_commercant_value}}" value=" {{jison.json.tampon_client_value}}">{{jison.json.tampon_commercant_value}}</meter><span class="black">{{jison.json.tampon_commercant_value}}</span>€
        <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
        <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
        <div class="buttons"  (click)="add_card_tampon_mobile(unite_tampon_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
      </div> -->
     
        <!-- <div *ngIf="jison.json.objRemise !=null && jison.json.objRemise.is_activ ==1 ">
            <h3>Offre de remise direct</h3>
          <ion-label id="lblsd">{{jison.json.objRemise.description}}</ion-label>
          <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
          <ion-input type="number" [(ngModel)]="unite_remise_value" placeholder="nombre d'unité"></ion-input>
          <span class="black"> cumul consommation</span> <span *ngIf="jison.json.assoc_client_remise.solde_remise !=null">{{jison.json.assoc_client_remise.solde_remise}} </span><span *ngIf="jison.json.assoc_client_remise.solde_remise ==null">0 </span>
          <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
          <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
          <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
          <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
          <div class="buttons"  (click)="add_card_remise_mobile(unite_remise_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
        </div> -->
          <!-- <div *ngIf="jison.json.oCapital != null && jison.json.oCapital.is_activ ==1 ">
            <h3>Offre de capitalisation</h3>
            <ion-label id="lblsd">{{jison.json.oCapital.description}}</ion-label>
            <ion-label id="lblsd">Préciser le nombre d'unité:</ion-label>
            <ion-input type="number" [(ngModel)]="unite_capital_value" placeholder="nombre d'unité"></ion-input>
            <span  *ngIf="jison.json.oFicheclient !=null">
            <span class="black"> <span *ngIf="jison.json.oFicheclient !=null">{{jison.json.oFicheclient.solde_capital}}</span><span *ngIf="jison.json.oFicheclient ==null">0</span></span> €<meter low="0" max="{{jison.json.oCapital.montant}}" value="{{jison.json.oFicheclient.solde_capital}}">{{jison.json.oCapital.montant}}</meter><span class="black">{{jison.json.oCapital.montant}}</span>€
          </span>
            <ion-input type="hidden" [(ngModel)]="id_card" value="{{jison.json.oCard.id}}"></ion-input>
            <ion-input type="hidden" [(ngModel)]="id_bonplan" value="{{jison.json.oBonplan.bonplan_id}}"></ion-input>
            <ion-input type="hidden" [(ngModel)]="id_commercant" value="{{jison.json.id_commercant}}"></ion-input>
            <ion-input type="hidden" [(ngModel)]="id_user" value="{{jison.json.oUser.IdUser}}"></ion-input>
            <div class="buttons"  (click)="add_card_capital_mobile(unite_capital_value,id_card,id_bonplan,id_commercant,id_user)">Valider cette transaction</div>
          </div> -->
      <!-- </div> -->

  </div>
  </div>
 </div>
  
  

</ion-content>
