
<ion-header>

  <ion-toolbar>
    <ion-title>Capitalisation</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding *ngFor="let jison of msg">

<div class="text-center"><img id="img" src="assets/ico_sign_capital.png"></div>
  <ion-input type="hidden" value="{{jison.json.id}}" [(ngModel)]="id"></ion-input>
  <ion-input type="hidden" value="{{jison.json.id_commercant}}"  [(ngModel)]="id_commercant"></ion-input>
  <ion-input type="hidden" value="{{jison.json.id_ionauth}}"  [(ngModel)]="id_ionauth"></ion-input>
  <ion-item *ngIf="jison.json.is_activ==0">
    <ion-label>Activation du module</ion-label>
    <ion-toggle  checked="false"  [(ngModel)]="is_activ"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="jison.json.is_activ == 1">
      <ion-label>Activation du module</ion-label>
      <ion-toggle  checked="true" ></ion-toggle>
    </ion-item>
<ion-item>
  <ion-textarea placeholder="Description" value="{{jison.json.description}}" [(ngModel)]="description"></ion-textarea>
</ion-item>

<ion-label color="primary">Date debut:<ion-input type="date" value="{{jison.json.date_debut}}" [(ngModel)]="date_debut"></ion-input></ion-label>

<ion-label color="primary">Date fin:<ion-input type="date" value="{{jison.json.date_fin}}" [(ngModel)]="date_fin"></ion-input></ion-label>

<ion-item>
    <ion-label color="primary">Objectif:</ion-label>
    <ion-input type="number" value="{{jison.json.montant}}" [(ngModel)]="montant"></ion-input>
  </ion-item>

<div class="centred"><button ion-button block color="primary" class="marginTop" [style.backgroundColor]="enable ? '#00CC00' : 'green'" (click)="Validatecapital(id,id_ionauth,id_commercant,is_activ,description,date_debut,date_fin,montant)"><ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon> &nbsp;Validation</button></div>

</ion-content>