<!--
  Generated template for the DetailBonplanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Plat du jour</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row >
    <ion-col col-12 class="grandtitre">Historique consommation</ion-col>
  </ion-row>
  <ion-row class="list_bonplan_details" *ngFor="let jison of data">
      <ion-col col-4 class="label">Client:</ion-col>
      <ion-col col-8 class="value"> {{jison.client.nomClient}} {{jison.client.prenomClient}}:</ion-col>
  </ion-row>
  <ion-grid>
    <ion-row >
      <ion-col col-12 class="info2">Plat du jour</ion-col>
    </ion-row>
  </ion-grid>
  <div *ngFor="let jison of data2" >
  <ion-grid class="list_bonplan_details">
  <ion-row>
    <ion-col col-4 class="label">Nom du plat:</ion-col>
    <ion-col col-8 class="value">{{jison.description_plat}}:</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 class="label">Validé le:</ion-col>
    <ion-col col-8 class="value">{{jison.date_validation}}:</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 class="label">Etat:</ion-col>
    <ion-col col-8 class="value"><span *ngIf="jison.etat =='1'" >Validé</span></ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
