<!--
  Generated template for the ListDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Fidelisation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list  *ngFor="let jison of msg">
        <ion-card>
        <ion-item>
          <ion-list><span class="label">ID du Client:</span> <span class="black"> {{jison.json.id_client}} </span></ion-list><br>
          <ion-list><span class="label">Cumul consommation :</span></ion-list><br>
        <span class="black"> {{jison.json.solde}}</span> €<meter low="0" max="{{jison.json.objectif}}" value="{{jison.json.solde}}">{{jison.json.solde}}</meter><span class="black">{{jison.json.objectif}}</span>€
        </ion-item>
      </ion-card>
      </ion-list>
</ion-content>
