<!--
  Generated template for the PagesAjoutplatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>pages/ajoutplat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 class="bon">RESERVATION PLAT DU JOUR</h2>
  <ion-input type="hidden" [(ngModel)]="idcommercant" value="{{idcommercant}}"></ion-input>

  <ion-row>
    <ion-col col-12><ion-label  color="primary">date debut :</ion-label></ion-col>
    <ion-col col-12><ion-item><ion-input type="date" [(ngModel)]="date_debut"></ion-input></ion-item></ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12><ion-label color="primary">date fin :</ion-label></ion-col>
      <ion-col col-12><ion-item><ion-input type="date" [(ngModel)]="date_fin"></ion-input></ion-item></ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12><ion-label>heure de debut de réservation :</ion-label></ion-col>
      <ion-col col-12><ion-item><ion-input type="time" [(ngModel)]="heure_debut"></ion-input></ion-item></ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12><ion-label>heure de fin de réservation :</ion-label></ion-col>
      <ion-col col-12><ion-item><ion-input type="time" [(ngModel)]="heure_fin"></ion-input></ion-item></ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12><ion-label>Texte plat du jour :</ion-label></ion-col>
      <ion-col col-12><ion-item><ion-input type="text" [(ngModel)]="txt_plat"></ion-input></ion-item></ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12><ion-label>Prix plat du jour :</ion-label></ion-col>
      <ion-col col-12><ion-item><ion-input type="number" [(ngModel)]="prix_plat"></ion-input></ion-item></ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12><ion-label>Nombre de plats du jour proposé :</ion-label></ion-col>
      <ion-col col-12><ion-item><ion-input type="number" [(ngModel)]="nbr_plat"></ion-input></ion-item></ion-col>
  </ion-row>
  
  <!-- <ion-label>date debut :</ion-label> 
  <div class="inputFormulaire"><ion-input type="date" [(ngModel)]="date_debut"></ion-input></div>
  <ion-label>date fin :</ion-label>
  <div class="inputFormulaire"><ion-input  type="date" [(ngModel)]="date_fin"></ion-input></div> -->  
  <ion-row>
    <ion-col col-12>
      <div id="bt" (click)="save_plat(idcommercant,date_debut,date_fin,heure_debut,heure_fin,txt_plat,prix_plat,nbr_plat)" class="buttonvert_sortez">Ajouter un plat du jour</div>
    </ion-col>
  </ion-row>
</ion-content>
