/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:host{

	img{
	    text-align: center;
	}
	h1 {
		font-size: 28px;
		margin-top: 40px;
		text-align: center;
	}
	div {
		text-align: center;
	}

	@font-face {
	    font-family: 'Futura Md BT Medium';
	    font-style: normal;
	    font-weight: normal;
	    src: local('Futura Md BT Medium'), url('assets/fonts/futuram.woff') format('woff');
	}

	.left{
	    text-align: left !important;
	}
}