

<ion-content padding id="ml">
    <img src="assets/img_login_head.png" class="logo"/>
	<div *ngFor="let jison of infocom" id="cd">
	    <div id="wh">
		    <div id="bt" (click)="MonComptePages()" class="buttons">MON COMPTE</div>
		    <div id="bt" (click)="ListValidPages()" class="buttons">VALIDER UNE VISITE</div>
		    <div id="bt" (click)="ReservationPages()" class="buttons">LES BONPLANS EN COURS</div>
		    <div id="bt" (click)="parabon()" class="buttons">GESTION DES BONPLANS</div>
		    <span *ngIf="jison.json.referencement_resto == 1 ">
		        <div id="bt" (click)="detail_res_plat()" class="buttons">RÉSERVATIONS PLAT DU JOURS</div>
		    </span>
		    <div id="bt" (click)="gestion_plat()" class="buttons">GESTION DE PLAT DU JOURS</div>
		    <span *ngIf="jison.json.referencement_resto == 1 ">
		        <div id="bt" (click)="detail_res_sejour()" class="buttons">RÉSERVATIONS HÉBERGEMENT</div>
		        <div id="bt" (click)="detail_table()" class="buttons">RÉSERVATIONS RESTAURATION</div>
		    </span>
		    <div id="bt" (click)="ClientListPages()" class="buttons">LISTE DE MES CLIENTS</div>
		    <div id="bt" (click)="ParametrePage()" class="buttons">MES PARAMETRES</div>
		    <a href="https://www.sortez.org/">
		    	<div id="bt" class="buttons">ACCÈS DIRECT À sortez.org</div>
		    </a>
		    <div id="bt" (click)="logout()" class="buttons">DÉCONNEXION</div>
	    </div>
	</div>
</ion-content>