<ion-header>

  <ion-toolbar>
    <ion-title>Modifier bonplan</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <h2 class="bon">MON BON PLAN</h2>
  <div *ngFor="let jison of msg" class="grey">
  <button ion-button full>Les détails de votre Bon Plan</button>
  <ion-input type="hidden" [(ngModel)]="jison.bonplan_commercant_id" value="{{jison.bonplan_commercant_id}}"></ion-input>
  <ion-input type="hidden" [(ngModel)]="jison.bonplan_id" value="{{jison.bonplan_id}}"></ion-input>
  <ion-label>Titre:</ion-label>
  <ion-input type="text" placeholder="Nom" value="{{jison.bonplan_titre}}" [(ngModel)]="jison.bonplan_titre"></ion-input>

<ion-label>Description:</ion-label>
<ion-textarea placeholder="description" value="{{jison.bonplan_texte}}" [(ngModel)]="jison.bonplan_texte"></ion-textarea>
<button ion-button full color="pink">Intégration d'images (Dimensions 4/3)</button>
<p>ajout image</p>
<button ion-button full><span class="wrap-text"></span>Bon plan personnel <br>(sans validation de la carte Sortez)</button>
<ion-list radio-group >
<ion-radio-group [(ngModel)]="jison.bonplan_type">
<ion-item>
  <ion-label>Activer bon plan personnel</ion-label>
  <ion-radio  value="1"></ion-radio>
</ion-item>
<p><span class="pink">BON PLAN PERSONNEL</span> : Ce bon plan n’est pas attaché au concept Sortez, il suffit au consommateur d’imprimer le coupon et de le présenter au professionnel lors de son déplacement.<br>
  Sur la page du professionnel il n’est pas fait mention des conditions de Sortez.</p>

  <ion-item><ion-label color="primary">Date debut (Obligatoire):</ion-label>
  <ion-input type="date" value="{{jison.bonplan_date_debut}}" [(ngModel)]="jison.bonplan_date_debut"></ion-input></ion-item>

  <ion-item><ion-label color="primary">Date fin (Obligatoire) :</ion-label>
    <ion-input type="date" value="{{jison.bonplan_date_fin}}" [(ngModel)]="jison.bonplan_date_fin"></ion-input><br></ion-item>

    <ion-item><ion-label color="primary">Prix bon plan :</ion-label>
    <ion-input type="number" value="{{jison.bp_simple_prix}}" [(ngModel)]="jison.bp_simple_prix"></ion-input></ion-item>

    <ion-item><ion-label color="primary">Valeur :</ion-label>
    <ion-input type="number" value="{{jison.bp_simple_value}}" [(ngModel)]="jison.bp_simple_value"></ion-input></ion-item>

    <ion-item><ion-label color="primary">Economie :</ion-label>
    <ion-input type="number" value="{{jison.bp_simple_eco}}" [(ngModel)]="jison.bp_simple_eco"></ion-input></ion-item>

    <button ion-button full color="pink">Bon plan unique avec Sortez<br> (gestion automatisée des transactions)</button>

    <ion-item>
      <ion-label>Activer bon plan Unique</ion-label>
      <ion-radio value="2" ></ion-radio>
    </ion-item>

    <p><span class="pink">BON PLAN OFFRE UNIQUE AVEC OU SANS QUANTITE DE DÉPART :
      Le consommateur ne peut valider qu'une seule fois le même bon plan</span><br>
      
      Ce bon plan est attaché au concept Sortez, il suffit au consommateur de réserver en ligne, notre système le valide automatiquement ou le refuse si celui-ci a déjà été utilisé. <br>
      Le professionnel et le consommateur recoivent un e-mail de confirmation.<br> 
      La quantité restante est décrémentée automatiquement. <br>
      Cette réservation est alors intégré sur les pages des réservations en cours. 
      Lors de son déplacement le consommateur présente sa carte sur son mobile.<br> 
      Avec l'application Sortez, le professionnel identifie le consommateur, valide définitivement ce bon plan et le supprime sur la page des réservations en cours.<br> 
      La transaction est enregistrée sur l'historique du consommateur (compte consommateur et compte professionnel).</p>

      <ion-item><ion-label color="primary">Date début (obligatoire) :</ion-label>
        <ion-input  type="date" value="{{jison.bp_unique_date_debut}}" [(ngModel)]="jison.bp_unique_date_debut"></ion-input></ion-item>

        <ion-item><ion-label color="primary">Date fin (Obligatoire) :</ion-label>
          <ion-input type="date" value="{{jison.bp_unique_date_fin}}" [(ngModel)]="jison.bp_unique_date_fin"></ion-input></ion-item>

          <ion-item><ion-label color="primary">Prix bon plan :</ion-label>
            <ion-input type="number" value="{{jison.bp_unique_prix}}" [(ngModel)]="jison.bp_unique_prix"></ion-input></ion-item>
            <ion-label>Activer Prix bon plan &nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="activ_bp_unique_prix"></ion-checkbox></ion-label><br>

            <ion-item><ion-label color="primary">Valeur :</ion-label>
              <ion-input type="number" value="{{jison.bp_unique_value}}" [(ngModel)]="jison.bp_unique_value"></ion-input></ion-item>

              <ion-item><ion-label color="primary">Economie :</ion-label>
                <ion-input type="number" value="{{jison.bp_unique_eco}}" [(ngModel)]="jison.bp_unique_eco"></ion-input></ion-item>

                  <ion-item><ion-label color="primary">Quantité proposée:</ion-label>
                    <ion-input type="number" value="{{jison.bp_unique_qttprop}}" placehosler="Saisir les quantité proposee" [(ngModel)]="jison.bp_unique_qttprop"></ion-input></ion-item>
                    <ion-label>Activer: Quantité proposée &nbsp;&nbsp;&nbsp;&nbsp; <ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_unique_qttprop"></ion-checkbox></ion-label>
                    <br>

                  <ion-item>
                    <ion-label color="primary">Précisez le nombre maximum de réservation par bon plan  :</ion-label>
                    <ion-select [(ngModel)]="jison.bp_unique_nbmax" placeholder="Choisir">
                      <ion-select-option value="1">1</ion-select-option>
                      <ion-select-option value="2">2</ion-select-option>
                      <ion-select-option value="3">3</ion-select-option>
                      <ion-select-option value="4">4</ion-select-option>
                      <ion-select-option value="5">5</ion-select-option>
                      <ion-select-option value="6">6</ion-select-option>
                      <ion-select-option value="7">7</ion-select-option>
                      <ion-select-option value="8">8</ion-select-option>
                      <ion-select-option value="9">9</ion-select-option>
                      <ion-select-option value="10">10</ion-select-option>
                      <ion-select-option value="11">11</ion-select-option>
                      <ion-select-option value="12">12</ion-select-option>
                      <ion-select-option value="13">13</ion-select-option>
                      <ion-select-option value="14">14</ion-select-option>
                      <ion-select-option value="15">15</ion-select-option>
                      <ion-select-option value="16">16</ion-select-option>
                      <ion-select-option value="17">17</ion-select-option>
                      <ion-select-option value="18">18</ion-select-option>
                      <ion-select-option value="19">19</ion-select-option>
                      <ion-select-option value="20">20</ion-select-option>
                    </ion-select>  
                  </ion-item>                      
                    <ion-label>Activer:Nombre maximum &nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_unique_nbmax"></ion-checkbox></ion-label>
                  
                    <br>

                    
                     <ion-item> <ion-label color="primary">Précisez la date de visite   :&nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_unique_date_visit"></ion-checkbox></ion-label></ion-item>

                     <ion-item><ion-label color="primary">Réserver et régler    :&nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_unique_reserv_regler"></ion-checkbox></ion-label></ion-item>
                          

  <button ion-button full color="pink">Bon plan Multiple avec Sortez<br> (gestion automatisée des transactions)</button>
  <ion-item>
    <ion-label>Activer bon plan Multiple </ion-label>
    <ion-radio value="3" ></ion-radio>
  </ion-item>
<p><span class="pink">BON PLAN OFFRE MULTIPLE AVEC OU SANS QUANTITE DE DÉPART :
  Le consommateur peut valider plusieurs fois le même bon plan.</span><br>
  
  Ce bon plan est attaché au concept Sortez, il suffit au consommateur de réserver en ligne, notre système le valide automatiquement.<br>
  Le professionnel et le consommateur recoivent un e-mail de confirmation.<br>
  La quantité restante est décrémentée automatiquement.<br>
  Cette réservation est alors intégré sur les pages des réservations en cours.<br>
  Lors de son déplacement le consommateur présente sa carte sur son mobile.<br>
  Avec l’application Sortez, le professionnel identifie le consommateur, valide définitivement ce bon plan et le supprime sur la page des réservations en cours.<br>
  La transaction est enregistrée sur l’historique du consommateur (compte consommateur et compte professionnel).</p>
  
  <ion-item><ion-label color="primary">Date début (obligatoire) :</ion-label>
    <ion-input type="date" value="{{jison.bp_multiple_date_debut}}" [(ngModel)]="jison.bp_multiple_date_debut"></ion-input></ion-item>

    <ion-item><ion-label color="primary">Date fin (Obligatoire) :</ion-label>
      <ion-input type="date" value="{{jison.bp_multiple_date_fin}}" [(ngModel)]="jison.bp_multiple_date_fin"></ion-input></ion-item>
      
      <ion-label color="primary">Prix bon plan :</ion-label>
        <ion-input type="number" value="{{jison.bp_multiple_prix}}" placeholder="Saisir le prix du bon plan" [(ngModel)]="jison.bp_multiple_prix"></ion-input>
        <ion-label>Activer:Prix bon plan &nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_multiple_prix"></ion-checkbox></ion-label>
        <br>

        <ion-item><ion-label color="primary">Valeur :</ion-label>
          <ion-input type="number" value="{{jison.bp_multiple_value}}" [(ngModel)]="jison.bp_multiple_value"></ion-input></ion-item>

          <ion-item><ion-label color="primary">Economie :</ion-label>
            <ion-input type="number" value="{{jison.bp_multiple_eco}}" [(ngModel)]="jison.bp_multiple_eco"></ion-input></ion-item>

            <ion-item><ion-label color="primary">Quantité proposée:</ion-label>
                <ion-input type="number" value="{{jison.bp_multiple_qttprop}}" placehosler="Saisir les quantité proposee" [(ngModel)]="jison.bp_multiple_qttprop"></ion-input></ion-item>
                <ion-label>Activer:Quantité proposée &nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_multiple_qttprop"></ion-checkbox></ion-label>
                <br>
              <ion-item>
                <ion-label color="primary">Précisez le nombre maximum de réservation par bon plan  :</ion-label>
                <ion-select [(ngModel)]="jison.bp_multiple_nbmax">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                  <ion-select-option value="7">7</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                  <ion-select-option value="9">9</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                  <ion-select-option value="11">11</ion-select-option>
                  <ion-select-option value="12">12</ion-select-option>
                  <ion-select-option value="13">13</ion-select-option>
                  <ion-select-option value="14">14</ion-select-option>
                  <ion-select-option value="15">15</ion-select-option>
                  <ion-select-option value="16">16</ion-select-option>
                  <ion-select-option value="17">17</ion-select-option>
                  <ion-select-option value="18">18</ion-select-option>
                  <ion-select-option value="19">19</ion-select-option>
                  <ion-select-option value="20">20</ion-select-option>
                </ion-select>
                </ion-item>
                  <ion-label>Activer:Nombre maximum &nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_multiple_nbmax"></ion-checkbox></ion-label>
                  <br>

                  <ion-item><ion-label color="primary">Précisez la date de visite  :&nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_multiple_date_visit"></ion-checkbox></ion-label>
                    </ion-item>

                    <ion-item><ion-label color="primary">Réserver et régler  : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-checkbox checked="false" [(ngModel)]="jison.activ_bp_multiple_reserv_regler"></ion-checkbox></ion-label><br>
                      </ion-item><br>
    <button ion-button full [style.backgroundColor]="enable ? '#00CC00' : 'green'" (click)=SaveBonplan(jison.activ_bp_multiple_nbmax,jison.activ_bp_multiple_qttprop,jison.activ_bp_multiple_prix,jison.activ_bp_unique_date_visit,jison.activ_bp_unique_nbmax,jison.activ_bp_unique_qttprop,jison.activ_bp_unique_prix,jison.activ_bp_multiple_reserv_regler,jison.activ_bp_multiple_date_visit,jison.bp_multiple_nbmax,jison.bp_multiple_qttprop,jison.bp_multiple_eco,bp_multiple_value,jison.bp_multiple_prix,jison.bp_multiple_date_fin,jison.bp_multiple_date_debut,jison.activ_bp_unique_reserv_regler,jison.bp_unique_nbmax,jison.bp_unique_qttprop,jison.bp_unique_eco,jison.bp_unique_value,jison.bp_unique_date_fin,jison.bp_unique_prix,jison.bp_unique_date_debut,jison.bp_simple_eco,jison.bp_simple_value,jison.bp_simple_prix,jison.bonplan_date_fin,jison.bonplan_date_debut,jison.bonplan_commercant_id,jison.bonplan_id,jison.bonplan_titre,jison.bonplan_texte,jison.bonplan_type)><ion-icon ios="ios-checkbox" md="md-checkbox"></ion-icon> &nbsp;1. VALIDATION</button>
  </ion-radio-group>
  </ion-list>          
</div>
</ion-content>

