<ion-header>

  <ion-toolbar>
    <ion-title>pages/updateplat</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <h2 class="bon">MODIFIER PLAT</h2>  
  <div *ngFor="let jison of res">                 
        <ion-input type="hidden" [(ngModel)]="jison.id" value="{{jison.id}}"></ion-input> 
        <ion-label class="imput">date debut :</ion-label>
        <ion-item><ion-input type="date" [(ngModel)]="jison.date_debut_plat" value="{{jison.date_debut_plat}}"></ion-input></ion-item>
        <ion-label>date fin :</ion-label>
        <ion-item><ion-input type="date" [(ngModel)]="jison.date_fin_plat" value="{{jison.date_fin_plat}}"></ion-input></ion-item>
        <ion-label>heure de debut de réservation :</ion-label>
        <ion-item><ion-input type="time" [(ngModel)]="jison.heure_debut_reservation" value="{{jison.heure_debut_reservation}}"></ion-input></ion-item>
        <ion-label>heure de fin de réservation :</ion-label>
        <ion-item><ion-input type="time" [(ngModel)]="jison.heure_fin_reservation" value="{{jison.heure_fin_reservation}}"></ion-input></ion-item>
        <ion-label>Texte plat du jour :</ion-label>
        <ion-item><ion-input type="text" [(ngModel)]="jison.description_plat" value="{{jison.description_plat}}"></ion-input></ion-item>
        <ion-label>Prix plat du jour :</ion-label>
        <ion-item><ion-input type="number" [(ngModel)]="jison.prix_plat" value="{{jison.prix_plat}}"></ion-input></ion-item>
        <ion-label>Nombre de plats du jour proposé :</ion-label>
        <ion-item><ion-input type="number" [(ngModel)]="jison.nbre_plat_propose" value="{{jison.nbre_plat_propose}}"></ion-input></ion-item>
        <ion-row>
          <ion-col col-12>
            <div id="bt" (click)="save_update_plat(jison.id,jison.date_debut_plat,jison.date_fin_plat,jison.heure_debut_reservation,jison.heure_fin_reservation,jison.description_plat,jison.prix_plat,jison.nbre_plat_propose)" class="buttonvert_sortez">Modifier ce plat de jour</div>
          </ion-col>
        </ion-row>  
</div>
</ion-content>
