@font-face {
    font-family: 'Futura Md BT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Md BT Medium'), url('../../../assets/fonts/futuram.woff') format('woff');
}
.navBarLogo {
    height: 30px;
    float: left;
    margin-left: 10px;
}
.center{
    text-align: center;
}
.centered{
    text-align: center;
    background-color: white;
}
.text_navbar{
    color: black;
}
.buttonconne{
    border-radius: 6px;
    color: white;
    height:50px;
    text-align: center;
    width: 100%;
    background-color: rgb(0,128,0);
    line-height: 0;
    font-size: 14px;
    margin: auto;
    padding-top: 23px;
    border: 3px solid black;
    font-family: 'Futura Md BT Medium' !important;
}
.buttons{
    border-radius: 6px;
    color: white;
    height:50px;
    text-align: center;
    width: 100%;
    background-color: rgb(218, 24, 147);
    line-height: 0;
    font-size: 14px;
    margin-top: 8px;
    padding-top: 23px;
    border: 3px solid black;
    font-family: 'Futura Md BT Medium' !important;
    text-transform: uppercase;
}
#cd{
    background-color: transparent;}
#headers{
    background-color: rgb(211, 70, 152);
}
#wel{
    margin-top: -1px;
    text-align: center;
}
#imgh{
   margin-right: -20%;
}

#button {
    
    width: 250px!important;
}
#icon{
float: left;
}
.md ion-menu[type=overlay] .menu-inner {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    opacity: 1.5;
}
#wh{
    background-color: white;
}
.centred{
    text-align: center;
}
.name{
    color: black;text-align: center;
    font-size: 20px
}
#lst{
    text-align: left!important;
    
}
#lste{margin-left:-125px;}
.white{
    background-color: white;
    color: black;
    margin-left:0px;
    margin-right:0px;
    width: 100%;
}
.text_white{
    color: white;
    margin-left: 0px;
    margin-right:0px;
}
.champ{
    background-color: lightgrey;
    color: black;
    padding-top: 5px;
    border-radius: 2px;
}
.blacked{
    color: black;
    padding-top: 5px;
}
.padded{
    padding-top:10px;
}
.check_client{
    padding-bottom: 10px;
}
.btn_send_mail{
    font-size:10px;
}

.input_client{
    border-style:solid;
    border-radius:7px;
    border-color:black;
    margin-top:20px; 
    }
    #tittle_client{
        font-size: 20px;
        text-transform: uppercase;
    }
    .label{
        color: #DD2490;
        text-align: left;
    }
    .value{
        text-align: left;
    }
    .mail{
        border-radius: 4px;
        margin-bottom: 10px;
        height:35px;
        width:100%;
    }
    // .iconimg{
    //     // width: 20px;
    //     height: 25px;
    //     background-color: red;
    // }
    .btn_fidelity{
        background-color: #0553a3;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn_bonplan{
        background-color: #d00075;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
#background_bonplan{
    padding-top:15px;
    background-color:rgb(218, 24, 147);
    color: white;
    padding-bottom: 15px;
}
#background_fidelity{
    padding-top:15px;
    background-color:rgb(54, 83, 163);
    color: white;
}
#title15{
    font-size:15px;
    color: black;
}
.input_white{
    background-color: white;
    color:black;
}
#background_plat{
    padding-top:15px;
    background-color: rgb(0, 128, 128);
    color: white;
}
.progress-outer{
    background-color:rgb(0, 128, 0)!important;
}
.card-content-md {
    padding: 13px 16px;
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: #DFDFDF;
}
.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #DFDFDF;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-color:white;
    opacity: 0.05;
    font-weight: bolder;
}
.card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #DFDFDF!important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.buttons-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold!important;
}
.spn{
    color: black;
    font-weight: bolder;
    font-family:arial;
}
.itms{
    background-color: white!important;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 14px;
}
.titre_sortez{
    font-size: 25.0px;
    text-align: center;
    color: black;
    margin:auto;
    font-family: 'Futura Md BT Medium' !important;
  }
  img{
    text-align: center;
  }
  h1 {
    font-size: 28px;
    margin-top: 40px;
    text-align: center;
  }
  div {
    text-align: center;
  }

.marginTop {
    margin-top: 50px;
}
.btn_login{
    background-color: rgb(0, 128, 0)!important;
    border-radius: 10px;
    color: white;
    height: 50px;
    border-color: black;
    border-style: solid;
    text-align: center;
    width: 80%;
    line-height:3;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    height: 50px;
    border-color: black;
    border-style: solid;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    font-size: 15px;
    margin: auto;
 
}
.btn_forgottenpass{
    background-color: rgb(0, 128, 0)!important;
    border-radius: 10px;
    color: white;
    height: 50px;
    border-color: black;
    border-style: solid;
    text-align: center;
    width: 80%;
    line-height:3;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    height: 50px;
    border-color: black;
    border-style: solid;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    font-size: 14px;
    margin: auto;
}
.txtcenter_sortez{
    font-family: 'Futura Md BT Medium' !important;
    color:black !important;
    font-size: 14px !important;
    text-align: center;
}
.buttons-full-md {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0;
    background-color: green;
}
#civ{
    margin-left: 0px;
    color: black !important;
    font-family: 'Futura Md BT Medium' !important;
}
#sel{
    margin-left: -200px;
}
.info{
    color:#000000;
    text-align: left!important;
    font-size: 16px;
    font-family: 'Futura Md BT Medium' !important;
}
.info2{
    color:#000000;
    text-align: left!important;
    font-weight:bold;
    font-size: 15px;
}
.info3{
    color:#ffffff;
    text-align: left!important;
    font-weight:bold;
    font-size: 13px;
    font-family: 'Futura Md BT Medium' !important;
}
.info4{
    color:#000000;
    text-align: left!important;
    font-weight:bold;
    font-size: 13px;
    font-family: 'Futura Md BT Medium' !important;
}
.titre{
    color:#000000;
}
.black{
color: black
}
.rese{
text-align: left;
color: rgb(141, 123, 123);
font-size: 24.0px;
}
.label_bonplan{
font-size: 24.0px;
color: white;
}
.row_col_bp{
text-align: left;
color: white;
}
.label_balue{
font-size: 24.0px;
color: white;
}
#bon_content{
    background-color: #ffffff;
}
.container_bon{
    border-style: none none solid none!important;
    border-color: white!important;
}
.container_table{
    border-style: none none solid none!important;
    border-color: black!important;
}
.bonplan{
    background-color: rgb(220, 26, 149)!important;
    margin-left: 0!important;
    margin-right: 0!important;
}
.buttonvert_sortez{
    width:100%;
    height:50px;
    background-color: rgb(0,128,0);
    font-size: 14px;
    padding-top: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Futura Md BT Medium' !important;
    color: white;
    text-transform: uppercase;
}
.form{
    color: black !important;
    font-family: 'Futura Md BT Medium' !important;
    font-size: 16px !important;
}
.form2{
    color: black !important;
    font-family: 'Futura Md BT Medium' !important;
    font-size: 15px !important;
}
.info_sortez{
    float: left !important;
    color:black !important;
    font-size: 16px !important;
    font-family: 'futura-md-bt' !important;
    margin-left: 0;
}
.info_bon{
    float: left !important;
    color:white !important;
    font-size: 14px !important;
    font-family: 'Futura Md BT Medium' !important;
    margin-left: 0;
}
.info_bon{
    float: left !important;
    color:white !important;
    font-size: 13px !important;
    font-family: 'Futura Md BT Medium' !important;
    margin-left: 0;
}
.value_sortez{
    padding-left: 5px;
    text-align: left;
    font-family: 'Futura Md BT Medium' !important;
    font-size: 13px;
}
.textjustify{
    text-align: justify;
    font-family: 'Futura Md BT Medium' !important;
}
.left{
    text-align: left !important;
}
.menu_deroulant{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 0%;
}
.bonplan_plat{
    background-color:rgb(218, 24, 147);
}
.titre_info{
    font-family: 'Futura Md BT Medium' !important;
    font-size: 20px;
    color:white !important;
}
.titre_info3{
    font-family: 'Futura Md BT Medium' !important;
    font-size: 20px!important;
    color:white !important;
    float: left!important;
}
.titre_info2{
    font-family: 'Futura Md BT Medium' !important;
    font-size: 20px;
    color:black !important;
}
.background_black{
    background-color: black;
    color:white;
    margin-top: 5px;
    padding-left: -5px;
}
.padding_bon{
    padding-bottom: 20px;
}
.titresoustitre{
    // font-size: 23px;
    margin-top:3px;
    color:black;
    font-family: 'Futura Md BT Medium' !important;
}
.margetop{
    margin-top: 20px;
    margin-bottom: 20px;
}
.margetop2{
    margin-top: 40px;
    margin-bottom: 20px;
}
.titre_bon{
    font-size: 20.0px!important;
    text-align: center!important;
    color: white!important;
    margin:auto!important;
    font-family: 'Futura Md BT Medium' !important;
    padding: 10px;
}
.titre_bon2{
    font-size: 20.0px!important;
    text-align: center!important;
    color: black!important;
    margin:auto!important;
    font-family: 'Futura Md BT Medium' !important;
}
.image_sortez {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.image_sortez:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.padding_bot{
    padding-bottom: 10px;
}
.pl1{
    padding-left: 10px;
}
.pr1{
    padding-right:10px;
}
.border{
    border-radius: 5px;
}
.progress-outer[_ngcontent-c0]{
    border-radius: 0px!important;
}
.progress-inner[_ngcontent-c0]{
border-radius: 0px!important;
}

.progressbarleft{
float: left;
background-color: #FF0000;
text-align: left!important;
min-width: 5%!important;
  }
.progressbarright{
    float: right;
    background-color: #008000!important;
    text-align: right!important;
    max-width: 95%!important;
}
.bg_red{
    background-color: #FF0000;
}
.text-right{
    text-align: right;
}
.padding_left_0{
    padding-left: 0!important;
    padding-right: 0;
}
page-infoconso {
    .scroll-content{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
.dtsold{
    color:white;
}
.p-2{
    padding: 15px 15px 15px 15px;
}
.titre_info4{
    font-family: 'Futura Md BT Medium' !important;
    font-size: 20px;
    color:white !important;
    padding: 20px;
}