<ion-header>

  <ion-toolbar>
    <ion-title>Paramètre</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding  *ngFor="let jison of msg">
  <img id="prmt" src="assets/mes_parametres.png">
  <ion-input type="hidden" value="{{jison.json.IdCommercant}}" [(ngModel)]="IdCommercant"></ion-input>
  <!----<div (click)=ParabonPages(jison.json.IdCommercant)><ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon> &nbsp;Paramètre du bon plan</div><br>!-->
  <div class="buttons" (click)='rd(jison.json.IdCommercant)'>La remise directe</div>
  <div class="buttons" (click)='cp(jison.json.IdCommercant)'>L'offre capitalisation</div>
  <div class="buttons" (click)='ct(jison.json.IdCommercant)'>Le coup de tampon</div>
</ion-content>
